/* 웹 폰트를 선언 */
@font-face {
    font-family: "SOYOMaple";
	font-style: normal;
    font-weight: 700;
    src: url('../font/SOYOMapleBoldTTF.woff2') format('woff2') ;
}

@font-face {
	font-family: "SOYOMaple";
    font-style: normal;
	font-weight: 400;
    src: url('../font/SOYOMapleRegularTTF.woff2') format('woff2') ;
}
