

footer {
    margin: 140px 0 0 0;
    background-color: #1d1d1d;
    padding: 84px 0 95px 0;
    color: #fff;
} 
footer .wrapper {
    display: flex;
    position: relative;
    gap: 62px;
}
footer .sns {
    position: absolute;
    right: 35px;
    bottom: 0;
}
footer .sns ul {
    display: flex;
    gap: 10px;
}
footer .sns ul li a {
    display: block;
    background-color: rgba(204,204,204,0.2);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    
}
footer .sns ul li a::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .sns ul li.blog a::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_161)'%3E%3Cpath d='M19 0V19H12.6255L6.37453 9.43466V19H0V0H6.37453L12.6255 9.94989V0H19Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_161'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.facebook a::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='25' viewBox='0 0 13 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6846 11.1426L12.3931 13.4838C12.3437 13.8749 12.0125 14.1691 11.6197 14.1691H7.82769V23.9578C7.42779 23.9939 7.02261 24.0124 6.61302 24.0124C5.69695 24.0124 4.8029 23.9208 3.9388 23.7464V14.1691H1.02235C0.75458 14.1691 0.536133 13.9498 0.536133 13.6811V10.7515C0.536133 10.4828 0.75458 10.2635 1.02235 10.2635H3.9388V5.86987C3.9388 3.17363 6.11535 0.988281 8.80101 0.988281H12.2037C12.4715 0.988281 12.6899 1.20761 12.6899 1.47626V4.40592C12.6899 4.67458 12.4715 4.89391 12.2037 4.89391H9.77257C8.69884 4.89391 7.82857 5.76769 7.82857 6.84672V10.2644H11.9121C12.3807 10.2644 12.7428 10.6766 12.6855 11.1434L12.6846 11.1426Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .sns ul li.insta a::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_157)'%3E%3Cpath d='M16.0545 3.75C15.371 3.75 14.8281 4.3029 14.8281 4.97642C14.8281 5.64995 15.381 6.20285 16.0545 6.20285C16.7281 6.20285 17.281 5.64995 17.281 4.97642C17.281 4.3029 16.7281 3.75 16.0545 3.75Z' fill='white'/%3E%3Cpath d='M10.585 5.32812C7.73008 5.32812 5.41797 7.65029 5.41797 10.4952C5.41797 13.3401 7.74013 15.6623 10.585 15.6623C13.4299 15.6623 15.7521 13.3401 15.7521 10.4952C15.7521 7.65029 13.4299 5.32812 10.585 5.32812ZM10.585 13.8126C8.75545 13.8126 7.27771 12.3248 7.27771 10.5052C7.27771 8.68571 8.7655 7.19792 10.585 7.19792C12.4046 7.19792 13.8924 8.68571 13.8924 10.5052C13.8924 12.3248 12.4046 13.8126 10.585 13.8126Z' fill='white'/%3E%3Cpath d='M14.6869 21H6.30302C2.8248 21 0 18.1752 0 14.697V6.30302C0 2.8248 2.8248 0 6.30302 0H14.6869C18.1652 0 20.9899 2.8248 20.9899 6.30302V14.6869C20.9899 18.1652 18.1652 20.9899 14.6869 20.9899V21ZM6.30302 1.97032C3.92054 1.97032 1.97032 3.92054 1.97032 6.30302V14.6869C1.97032 17.0795 3.91048 19.0196 6.30302 19.0196H14.6869C17.0795 19.0196 19.0196 17.0795 19.0196 14.6869V6.30302C19.0196 3.91048 17.0795 1.97032 14.6869 1.97032H6.30302Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_157'%3E%3Crect width='21' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.youtube a::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='17' viewBox='0 0 23 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_163)'%3E%3Cpath d='M23 5.33431C23 2.39296 20.7342 0 17.9492 0H5.0508C2.25398 0 0 2.39296 0 5.33431V11.6782C0 14.6195 2.25398 17.0125 5.0508 17.0125H17.961C20.746 17.0125 23.0118 14.632 23.0118 11.6782V5.33431H23ZM15.412 8.97361L9.62955 12.0022C9.40534 12.1268 8.62648 11.9523 8.62648 11.6906V5.48387C8.62648 5.20968 9.40534 5.03519 9.62955 5.17229L15.1642 8.35044C15.4002 8.48754 15.6362 8.84897 15.4002 8.97361H15.412Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_163'%3E%3Crect width='23' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.x a::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8414 7.01108L18.4039 0H15.9119L10.7611 5.50381L6.81645 0H0L6.89974 9.6276L0 17H2.49207L7.98083 11.1357L12.1835 17H19L11.8414 7.0119V7.01108ZM3.51193 1.80252H5.88805L15.4873 15.1958H13.1111L3.51193 1.80252Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .info_wrap {
    margin: 0 321px 0 0;
}
footer .info_wrap .f_nav {
    margin: 0 0 20px 0;
}
footer .info_wrap .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 42px;
}
footer .info_wrap .f_nav ul li {
    position: relative;
}
footer .info_wrap .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -23px;
    top: 5px;
    height: 15px;
    width: 1px;
    background-color: rgba(255,255,255,0.2);
}
footer .info_wrap .f_nav ul li:last-child::after {
    display: none;
}
footer .info_wrap .f_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 13px;
}

footer .copyright {
    margin: 20px 0 0 0;
    color: rgba(255,255,255,0.6);
}

@media screen and (max-width:962px) {
        footer {
            margin: 58px 0 0 0;
            padding: 40px 0 88px 0;
        } 
        footer .wrapper {
            display: block;
            position: relative;
            gap: 62px;
        }
        footer .f_logo {
            text-align: center;
        }
        footer .sns {
            position: absolute;
            bottom: -56px;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
        }
        footer .info_wrap {
            margin: 0;
        }
        footer .info_wrap .f_nav ul {
            gap: 0 39px;
        }
       
}