@import url(default.css);
@import url(font.css);
@import url(common.css);

.tit_font {
    font-family: "Eulyoo1945";
    font-weight: 700;
    line-height: 1.5;
}

header {
    position: absolute; /* wrap의 기준으로 정렬, visual 안으로 */
    left: 0;
    top: 0;
    z-index: 100; /* 중첩되서 젤 위로 올림 */
    width: 100%; /* wrap기준으로 100% */
    height: 100px;
    color: #fff;
    display: flex; /* logo , gnb , tnb 좌우로 배치 */
    justify-content: space-between; /* 양쪽 끝 */
    align-items: center; /* 위아래 가운데 */
    padding: 0 20px; /* 브라우저 양쪽 끝 (logo 와 tnb) 여백 */
    border: 1px solid rgba(204,204,204,0.3);
}
header .lago a {
    display: block;
    font-size: 0; /* 로고 이미지 하단에 존재하는 행간 삭제 */
    line-height: 0;
} 
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none ; /* 모바일에서만 보임 ,글자숨김*/
}
header .gnb .gnb_wrap ul {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-size: 30px;
    line-height: 100px;
    /* header 높이와 같은 값을 행간으로 줌*/
    padding: 0 35px; /* ㄴ반띵 여백 */
}
header .tnb {
    display: flex; /* mypage, seach 좌우로 배치 */
    gap: 3px;
}
header .tnb .mypage,
header .tnb .search {
    height: 40px;
    width: 40px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
header .tnb .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_1343' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_1343)'%3E%3Cpath d='M7.31238 21.375C8.37488 20.5625 9.56238 19.9219 10.8749 19.4531C12.1874 18.9844 13.5624 18.75 14.9999 18.75C16.4374 18.75 17.8124 18.9844 19.1249 19.4531C20.4374 19.9219 21.6249 20.5625 22.6874 21.375C23.4165 20.5208 23.9843 19.5521 24.3905 18.4688C24.7968 17.3854 24.9999 16.2292 24.9999 15C24.9999 12.2292 24.0259 9.86979 22.078 7.92188C20.1301 5.97396 17.7707 5 14.9999 5C12.229 5 9.86967 5.97396 7.92175 7.92188C5.97384 9.86979 4.99988 12.2292 4.99988 15C4.99988 16.2292 5.203 17.3854 5.60925 18.4688C6.0155 19.5521 6.58321 20.5208 7.31238 21.375ZM14.9999 16.25C13.7707 16.25 12.7343 15.8281 11.8905 14.9844C11.0468 14.1406 10.6249 13.1042 10.6249 11.875C10.6249 10.6458 11.0468 9.60938 11.8905 8.76563C12.7343 7.92188 13.7707 7.5 14.9999 7.5C16.229 7.5 17.2655 7.92188 18.1093 8.76563C18.953 9.60938 19.3749 10.6458 19.3749 11.875C19.3749 13.1042 18.953 14.1406 18.1093 14.9844C17.2655 15.8281 16.229 16.25 14.9999 16.25ZM14.9999 27.5C13.2707 27.5 11.6457 27.1719 10.1249 26.5156C8.60404 25.8594 7.28113 24.9688 6.15613 23.8438C5.03113 22.7188 4.1405 21.3958 3.48425 19.875C2.828 18.3542 2.49988 16.7292 2.49988 15C2.49988 13.2708 2.828 11.6458 3.48425 10.125C4.1405 8.60417 5.03113 7.28125 6.15613 6.15625C7.28113 5.03125 8.60404 4.14063 10.1249 3.48438C11.6457 2.82812 13.2707 2.5 14.9999 2.5C16.729 2.5 18.354 2.82812 19.8749 3.48438C21.3957 4.14063 22.7186 5.03125 23.8436 6.15625C24.9686 7.28125 25.8593 8.60417 26.5155 10.125C27.1718 11.6458 27.4999 13.2708 27.4999 15C27.4999 16.7292 27.1718 18.3542 26.5155 19.875C25.8593 21.3958 24.9686 22.7188 23.8436 23.8438C22.7186 24.9688 21.3957 25.8594 19.8749 26.5156C18.354 27.1719 16.729 27.5 14.9999 27.5ZM14.9999 25C16.104 25 17.1457 24.8385 18.1249 24.5156C19.104 24.1927 19.9999 23.7292 20.8124 23.125C19.9999 22.5208 19.104 22.0573 18.1249 21.7344C17.1457 21.4115 16.104 21.25 14.9999 21.25C13.8957 21.25 12.854 21.4115 11.8749 21.7344C10.8957 22.0573 9.99988 22.5208 9.18738 23.125C9.99988 23.7292 10.8957 24.1927 11.8749 24.5156C12.854 24.8385 13.8957 25 14.9999 25ZM14.9999 13.75C15.5415 13.75 15.9895 13.5729 16.3436 13.2188C16.6978 12.8646 16.8749 12.4167 16.8749 11.875C16.8749 11.3333 16.6978 10.8854 16.3436 10.5312C15.9895 10.1771 15.5415 10 14.9999 10C14.4582 10 14.0103 10.1771 13.6561 10.5312C13.302 10.8854 13.1249 11.3333 13.1249 11.875C13.1249 12.4167 13.302 12.8646 13.6561 13.2188C14.0103 13.5729 14.4582 13.75 14.9999 13.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
} 
header .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_1348' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_1348)'%3E%3Cpath d='M24.5 26.25L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L26.25 24.5L24.5 26.25ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px) {
    /* 640px 보다 작을때만 ( 640포함 )*/
                header {
                    height: 56px;
                    padding: 0 0 0 20px; /* 브라우저 양쪽 끝 (logo 와 tnb) 여백 */
                }
                header .logo a img {
                    width: 153px;
                }
                header .gnb .gnb_open {
                    display: block; /* open은 모바일에서 나오게 none > block줌 */
                    width: 56px; /* header 높이와 동일하게 줌 */
                    height: 56px;
                    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_104' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_104)'%3E%3Cpath d='M4.66667 8.16634C4.33611 8.16634 4.05903 8.05454 3.83542 7.83092C3.61181 7.60731 3.5 7.33023 3.5 6.99967C3.5 6.66912 3.61181 6.39204 3.83542 6.16842C4.05903 5.94481 4.33611 5.83301 4.66667 5.83301H23.3333C23.6639 5.83301 23.941 5.94481 24.1646 6.16842C24.3882 6.39204 24.5 6.66912 24.5 6.99967C24.5 7.33023 24.3882 7.60731 24.1646 7.83092C23.941 8.05454 23.6639 8.16634 23.3333 8.16634H4.66667ZM4.66667 22.1663C4.33611 22.1663 4.05903 22.0545 3.83542 21.8309C3.61181 21.6073 3.5 21.3302 3.5 20.9997C3.5 20.6691 3.61181 20.392 3.83542 20.1684C4.05903 19.9448 4.33611 19.833 4.66667 19.833H23.3333C23.6639 19.833 23.941 19.9448 24.1646 20.1684C24.3882 20.392 24.5 20.6691 24.5 20.9997C24.5 21.3302 24.3882 21.6073 24.1646 21.8309C23.941 22.0545 23.6639 22.1663 23.3333 22.1663H4.66667ZM4.66667 15.1663C4.33611 15.1663 4.05903 15.0545 3.83542 14.8309C3.61181 14.6073 3.5 14.3302 3.5 13.9997C3.5 13.6691 3.61181 13.392 3.83542 13.1684C4.05903 12.9448 4.33611 12.833 4.66667 12.833H23.3333C23.6639 12.833 23.941 12.9448 24.1646 13.1684C24.3882 13.392 24.5 13.6691 24.5 13.9997C24.5 14.3302 24.3882 14.6073 24.1646 14.8309C23.941 15.0545 23.6639 15.1663 23.3333 15.1663H4.66667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                header .gnb .gnb_close {
                    display: none ; /* 모바일에서만 보임 ,글자숨김*/
                }
                header .gnb .gnb_wrap {
                    display: none; /* 숨김처리 */
                }
                header .gnb .gnb_wrap ul li a {
                    display: block;
                    font-size: 30px;
                    line-height: 100px;
                    /* header 높이와 같은 값을 행간으로 줌*/
                    padding: 0 35px; /* ㄴ반띵 여백 */
                }
                header .tnb {
                    display: none; /* 숨김처리 */
                    gap: 3px;
                }
                header .tnb .mypage,
                header .tnb .search {
                    height: 40px;
                    width: 40px;
                    display: block;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                header .tnb .mypage {
                    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_1343' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_1343)'%3E%3Cpath d='M7.31238 21.375C8.37488 20.5625 9.56238 19.9219 10.8749 19.4531C12.1874 18.9844 13.5624 18.75 14.9999 18.75C16.4374 18.75 17.8124 18.9844 19.1249 19.4531C20.4374 19.9219 21.6249 20.5625 22.6874 21.375C23.4165 20.5208 23.9843 19.5521 24.3905 18.4688C24.7968 17.3854 24.9999 16.2292 24.9999 15C24.9999 12.2292 24.0259 9.86979 22.078 7.92188C20.1301 5.97396 17.7707 5 14.9999 5C12.229 5 9.86967 5.97396 7.92175 7.92188C5.97384 9.86979 4.99988 12.2292 4.99988 15C4.99988 16.2292 5.203 17.3854 5.60925 18.4688C6.0155 19.5521 6.58321 20.5208 7.31238 21.375ZM14.9999 16.25C13.7707 16.25 12.7343 15.8281 11.8905 14.9844C11.0468 14.1406 10.6249 13.1042 10.6249 11.875C10.6249 10.6458 11.0468 9.60938 11.8905 8.76563C12.7343 7.92188 13.7707 7.5 14.9999 7.5C16.229 7.5 17.2655 7.92188 18.1093 8.76563C18.953 9.60938 19.3749 10.6458 19.3749 11.875C19.3749 13.1042 18.953 14.1406 18.1093 14.9844C17.2655 15.8281 16.229 16.25 14.9999 16.25ZM14.9999 27.5C13.2707 27.5 11.6457 27.1719 10.1249 26.5156C8.60404 25.8594 7.28113 24.9688 6.15613 23.8438C5.03113 22.7188 4.1405 21.3958 3.48425 19.875C2.828 18.3542 2.49988 16.7292 2.49988 15C2.49988 13.2708 2.828 11.6458 3.48425 10.125C4.1405 8.60417 5.03113 7.28125 6.15613 6.15625C7.28113 5.03125 8.60404 4.14063 10.1249 3.48438C11.6457 2.82812 13.2707 2.5 14.9999 2.5C16.729 2.5 18.354 2.82812 19.8749 3.48438C21.3957 4.14063 22.7186 5.03125 23.8436 6.15625C24.9686 7.28125 25.8593 8.60417 26.5155 10.125C27.1718 11.6458 27.4999 13.2708 27.4999 15C27.4999 16.7292 27.1718 18.3542 26.5155 19.875C25.8593 21.3958 24.9686 22.7188 23.8436 23.8438C22.7186 24.9688 21.3957 25.8594 19.8749 26.5156C18.354 27.1719 16.729 27.5 14.9999 27.5ZM14.9999 25C16.104 25 17.1457 24.8385 18.1249 24.5156C19.104 24.1927 19.9999 23.7292 20.8124 23.125C19.9999 22.5208 19.104 22.0573 18.1249 21.7344C17.1457 21.4115 16.104 21.25 14.9999 21.25C13.8957 21.25 12.854 21.4115 11.8749 21.7344C10.8957 22.0573 9.99988 22.5208 9.18738 23.125C9.99988 23.7292 10.8957 24.1927 11.8749 24.5156C12.854 24.8385 13.8957 25 14.9999 25ZM14.9999 13.75C15.5415 13.75 15.9895 13.5729 16.3436 13.2188C16.6978 12.8646 16.8749 12.4167 16.8749 11.875C16.8749 11.3333 16.6978 10.8854 16.3436 10.5312C15.9895 10.1771 15.5415 10 14.9999 10C14.4582 10 14.0103 10.1771 13.6561 10.5312C13.302 10.8854 13.1249 11.3333 13.1249 11.875C13.1249 12.4167 13.302 12.8646 13.6561 13.2188C14.0103 13.5729 14.4582 13.75 14.9999 13.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                } 
                header .tnb .search {
                    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_1348' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_1348)'%3E%3Cpath d='M24.5 26.25L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L26.25 24.5L24.5 26.25ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
}/* @media */





.visual {
    height: 100vh; /* 브라우저의 높이에 맞춰서 */
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    min-height: 600px; /* 최소높이 */
}
.visual h2 {
    font-size: 100px;
    line-height: 1.2;
    padding: 50vh 0 12px 0;
}
@media screen and (max-width:640px) {
             /* 640px 보다 작을때만 ( 640포함 )*/
            .visual {
                height: auto;
                min-height: 0; /* 최소높이 */
            }
            .visual .wrapper {
                height: 600px;  /* 브라우저의 높이에 맞춰서 */
            }
            .visual h2 {
                color: #fff;
                font-size: 50px;
                line-height: 1.2;
                padding: 291px 0 180px 0;
            }
            .visual p {
                display: none; /* 글자 숨김*/
            }
}/* @media */
.book {
    margin: 195px 0 0 0 ;
}
.book .book_wrap {
    width: calc(50% + 630px); /* 브라우저 넓이의 절반(630px) */
    position: relative;
    left: calc(50% - 630px );
    display: flex; /* tit 와 list 좌우 배치*/
    justify-content: space-between;
}
.book .book_wrap .tit {
}
.book .book_wrap .list {
    width: calc(100% - 238px);
    /* book_wrap의 넓이를 100%로 하고 왼쪽 tit의 넓이를 빼기*/
    overflow-x: hidden; /* 스크롤바 없애주는거 */
}
.book .book_wrap .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 30px 0 8px 0;
}
.book .book_wrap .list ul {
    display: flex; /* li를 좌우로 */
    gap: 14px; 
    width: 1778px;
    /* li의 넓이 * li의 갯수 = 240*7 = 1680
        사이의 여백 * li의갯수 = 14(사이여백)*7(갯수) = 98 
        1680 + 98 = 1778 */
}
.book .book_wrap .list ul li {
    width: 240px;
}
.book .book_wrap .list ul li a {
    display: block;
}
.book .book_wrap .list ul li a .photo {
    
}
.book .book_wrap .list ul li a .photo img {
    width: 100%; /* 높이는 비율에 맞게 알아서
                    - 책은 이미지 전체가 나와야 하기떄문에 object-fit 안줌 */
}
.book .book_wrap .list ul li a h3 {
    font-size: 25px;
    color: #1d1d1d;
}


footer {
    margin: 500px 0 0 0;
}