@import url(font.css);
@import url(common_full.css);
@import url(default.css);

.tour {
    margin: 150px 0;
}
.tour .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 17px 0;
}
.tour .list {
    margin: 44px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.tour.acc01 .list ul li {
   /* width: 30%;*/
    flex: 1 1 0%;
    transition: 0.5s;
}
.tour.acc01 .list ul li.on {
    /* width: 70%; */
    flex: 3 1 0%;
}
.tour.acc02 .list ul li {
    /*width: calc(25% - 9px);*/
    /*(사이의 여백 12+12+12)/(li갯수)4 =9 */
    flex: 1 1 0%;
    transition: 0.5s;
}
.tour.acc02 .list ul li.on {
    flex: 3 1 0%;
}
.tour .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 309px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 32px 22px 32px; /* 내부 여백*/
}
.tour .list ul li.list01 a {
    background-image: url(../images/tour01.jpg);
}
.tour .list ul li.list02 a {
    background-image: url(../images/tour02.jpg);
}
.tour .list ul li.list03 a {
    background-image: url(../images/tour03.jpg);
}
.tour .list ul li.list04 a {
    background-image: url(../images/tour04.jpg);
}
.tour .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
.tour .list ul li a p {
    margin: 5px 0 0 0;
    display: none;
}

@media screen and (max-width:1024px) {
    .tour {
        margin: 70px 0;
    }
    .tour .tit h2 {
        font-size: 25px;
        margin: 0 0 13px 0;
    }
    .tour .list {
        margin: 22px 0 0 0;
    }
    .tour .list ul {
        flex-direction: column;
        gap: 16px;
    }
    .tour.acc01 .list ul li {
        width: 100%;
        
    }
    .tour.acc01 .list ul li.on {
        width: 100%;
    }
    .tour.acc02 .list ul li {
        width: 100%;
    }
    .tour .list ul li a {
        height: 180px;
        padding: 0 25px 11px 25px; /* 내부 여백*/
    }
    .tour .list ul li a h3 {
        font-size: 18px;
    }
}/*@media*/