@import url(default.css);
@import url(res_common.css);
@import url(font.css);

.news {
    margin: 193px 0 0 0;

}
.news .wrapper {
    display: flex; /* h2/list 좌우로 배치 - more는 absolute라 계산 X */
    justify-content: space-between;
    position: relative; /* more의 정렬의 기준 */
}
.news .list {
    width: 66.03%;
    /* 
        넓이는 %로 계산 - 콘텐츠 넓이에서 몇 %로 계산 
        832 / 1260 * 100 = 66.03
    */
} 
.news .list ul li {
    border-bottom: 1px solid #d8d8d8;
}
.news .list ul li a {
    display: flex; /*text/ photo 좌우로 배치 */
    justify-content: space-between;
    padding: 40px 0;
    align-items: center; /* 위아래 가운데 배치 */
}
.news .list ul li a .photo { 
    width: 190px;
    height: 128px;
    overflow: hidden;
    border-radius: 20px;
}
.news .list ul li a .photo img {
    /* 이미지가 들쑥날쑥해서 최대한 이미지를 맞춤 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .list ul li a .text {
    width: calc(100% - 214px);
    /* 사진의 넓이는 고정, 제목이 들어갈 수 있는 넓이는 브라우저 넓이에 따라 바뀜
    글자와 사진 전체의 넓이 100% - 사진의 넓이와 여백값 px */
}
.news .list ul li a .text strong{
    font-size: 20PX;
    font-weight: 700;
    line-height: 1.2;
    color: #1D1D1D;
    display: block; /* span이랑 같이 붙어 있어서 밑으로 떨어지게 하려고 */
    margin: 0 0 10px 0;

    /* 한줄 제한 */
    white-space: nowrap; /* nowrap 해제 */
    overflow: visible; /* hidden 해제 */
}
.news h2 {
    font-size: 45PX;
    font-weight: 800;
    line-height: 1.2;
    color: #1D1D1D;
}
.news .more {
    position: absolute; /* wrapper의 기준으로 정렬 , after 정렬의 기준 */
    left: 0;
    top: 75px;
    padding: 3px 36px 3px 20px;
    border: 1px solid #1D1D1D;
    border-radius: 20px;
}
.news .more::after {
    content: "";
    position: absolute; /* more를 기준 정렬 */
    right: 10px;
    top: 5px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='' height='' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_7_101' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='21'%3E%3Crect width='21' height='21' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_7_101)'%3E%3Cpath d='M9.625 11.375H4.375V9.625H9.625V4.375H11.375V9.625H16.625V11.375H11.375V16.625H9.625V11.375Z' fill='%23333333'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* 영역에 맞게 아이콘 안짤리게 꽉채우기 */
    transition: 1s; /* 오버후에 속성이 변경되면 1초동안 천천히 실행 */
}
.news .more:hover::after {
    transform: rotate(360deg); /* 아이콘이 돌아감 */
}
@media screen and (max-width:640px) { 
    /* 브라우저 사이즈가 640px 이하일때만 적용되는 스타일 */
                .news {
                    margin: 100px 0 0 0;
                
                }
                .news .wrapper {
                    display: block; /* flex안함 */
                    justify-content: space-between;
                    position: relative; /* more의 정렬의 기준 */
                }
                .news .list {
                   width: auto;
                   /* 원래 속성대로 주기 - div 블럭요소라서 100% 들어감*/
                   margin: 36px 0 0 0;
                } 
                .news .list ul li a {
                    padding: 40px 0;
                    align-items: flex-start; /* 위 정렬 */
                }
                .news .list ul li a .photo { 
                    width: 96px;
                    height: 69px;
                    overflow: hidden;
                    border-radius: 10px;
                }
                .news .list ul li a .photo img {
                    /* 이미지가 들쑥날쑥해서 최대한 이미지를 맞춤 */
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .news .list ul li a .text {
                    width: calc(100% - 112px);
                    /* 사진의 넓이는 고정, 제목이 들어갈 수 있는 넓이는 브라우저 넓이에 따라 바뀜
                    글자와 사진 전체의 넓이 100% - 사진의 넓이와 여백값 px */
                }
                .news .list ul li a .text strong {
                    font-size: 17PX;
                    margin: 0 0 10px 0;
                
                    /* 한줄 제한 */
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .news h2 { 
                    font-size: 17PX;
                    font-weight: 700;
                    line-height: 1.5;
                    color: #1D1D1D;
                }
                .news .more {
                    left: auto;
                    right: 0;
                    /* left정렬에서 right 정렬로 변경하려면
                    left:auto; 로 해제하고 right를 줘야함 */
                    top: -1px;
                    padding: 0 25px 0 20px;
                    border-radius: 20px;
                    font-size: 15px;
                }
                .news .more::after {
                    content: "";
                    position: absolute; /* more를 기준 정렬 */
                    right: 3px;
                    top: 1px;
                    width: 21px;
                    height: 21px;
                }
                .news .more:hover::after {
                    transform: rotate(360deg); /* 아이콘이 돌아감 */
                }
}/*@media*/
.global {
    margin: 222px 0 0 0 ;
}
.global .wrapper {
    display: flex; /* txt / photo 좌우 배치 */
    justify-content: space-between;
}
.global .txt {
    width: calc(50% - 12px);
    /* 2개니까 50%에 둘 사이 여백의 절반 */
    padding: 34px 0;
    /* 왼쪽글자의 높이에서 padding만큼 오른쪽 이미지가 늘어남 */
}
.global .txt h2 {
    font-size: 45PX;
    font-weight: 800;
    line-height: 1.2;
    color: #1D1D1D;
    margin: 0 0 30px 0;
    position:relative; /* after 정렬의 기준 */
}
.global .txt h2::after {
    content: "";
    position: absolute; /* h2를 기준으로 정렬 */
    left: 0;
    bottom: -14px;
    width: 130px;
    height: 1px;
    background-color: #d8d8d8;
}
.global .photo {
    width: calc(50% - 12px);
    overflow: hidden; 
    border-radius: 20px;
}
.global .photo img {
    /* 이미지가 들쑥날쑥해서 최대한 이미지를 맞춤 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:640px) {
                .global {
                    margin: 111px 0 0 0 ;
                }
                .global .txt {
                    width: calc(50% - 8px);
                    /* 2개니까 50%에 둘 사이 여백의 절반 */
                    padding: 16px 0;
                    /* 왼쪽글자의 높이에서 padding만큼 오른쪽 이미지가 늘어남 */
                }
                .global .txt h2 {
                    font-size: 25PX;
                    margin: 0 0 22px 0;
                }
                .global .txt h2 br {
                    display: none; /* br태그로 인한 줄바꿈 삭제 */
                }
                .global .txt p br {
                    display: none;
                }
                .global .txt h2::after {
                    bottom: -15px;
                    width: 70px;
                }
                .global .photo {
                    width: calc(50% - 12px);
                    border-radius: 10px;
                }
}/*@media*/

.esg {
    margin: 204px 0 0 0;
}
.esg .tit h2 {
    font-size: 45PX;
    font-weight: 800;
    line-height: 1.2;
    color: #1D1D1D;
    margin: 0 0 14px 0;
}
.esg .list {
    margin: 38px 0 0 0;
}
.esg .list ul { 
    display: flex; /* li의 좌우로 배치 */
    justify-content: space-between;
}
.esg .list ul li {
    width: calc(25% - 18px);
    /*
        100% / 1줄에 나오는 li의 갯수 4개 = 100/4 =25%
        1줄 여백의 총합 / 1줄에 나오는 갯수 = 24+24+24 / 4 = 18 
    */
}
.esg .list ul li a {
    display: flex;
    justify-content: center; /* 좌우 가운데 */
    align-items: flex-end; /* 아래정렬 */
    height: 408px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    padding: 0 0 54px 0; /* 글자 하단 여백 */
}
.esg .list ul li.list01 a {
    background-image: url(../images/esg_bg01.jpg); 
}
.esg .list ul li.list02 a {
    background-image: url(../images/esg_bg02.jpg); 
}
.esg .list ul li.list03 a {
    background-image: url(../images/esg_bg03.jpg); 
}
.esg .list ul li.list04 a {
    background-image: url(../images/esg_bg04.jpg); 
}

@media screen and (max-width:640px) {
                .esg {
                    margin: 118px 0 0 0;
                }
                .esg .tit h2 {
                    font-size: 25PX;
                    margin: 0 0 8px 0;
                }
                .esg .list {
                    margin: 15px 0 0 0;
                }
                .esg .list ul {
                    flex-wrap: wrap; /* 2줄 허용 */
                    gap: 14px; /* 위아래 좌우 여백, 한번만 주는이유 : 여백사이즈 같아서 */
                }
                .esg .list ul li {
                    width: calc(50% - 7px);
                    /*
                        100% / 1줄에 나오는 li의 갯수 4개 = 100/2 =50%
                        1줄 여백의 총합 / 1줄에 나오는 갯수 14 / 2 = 7 
                    */
                }
                .esg .list ul li a {
                    align-items: center; /*위아래 가운데정렬*/
                    height: 153px;
                    border-radius: 10px;
                    color: #fff;
                    font-size: 25px;
                    padding: 0; /* 여백 삭제 */
                }
}/*media*/
.esg_fix {
    margin: 152px;

}
.esg_fix .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* esg 고정 */
}
.esg_fix .tit {
    width: 23%;
    /* 
        297px /1260 * 100 = 23%
    */
    position: sticky;
    top: 20px;
}
.esg_fix .list {
    width: 57.54%;
    /*
    725 / 1260 * 100 = 57.54%
    */
}
.esg_fix .list ul li a {
    display: block;
    height: 458px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    color: #fff;
    
}
.esg_fix .list ul li.list01 a {
    background-image: url(../images/esg_bg01.jpg); 
}
.esg_fix .list ul li.list02 a {
    background-image: url(../images/esg_bg02.jpg); 
}
.esg_fix .list ul li.list03 a {
    background-image: url(../images/esg_bg03.jpg); 
}
.esg_fix .list ul li.list04 a {
    background-image: url(../images/esg_bg04.jpg); 
}


body {
    margin: 0 0 300px 0;
}