@import url(default.css);
@import url(font.css);
@import url(common.css);

.sectoin_tit {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
@media screen and (max-width:640px) {
            .sectoin_tit {
                font-size: 25px;
            }
}/* @media */


header {
    height: 100px;
    position: absolute; /* wrap을 기준으로 정렬, 비주얼배경 안으로 들어감 */
    left: 0;
    top: 0;
    color: #fff;
    width: 100%; /* 넓이를 꽉 차게 */
    border-bottom: 1px solid rgba(255,255,255,0.2); /* 헤더 선 */
    z-index: 100; /* 맨 꼭대기에 배치 */
}
header .wrapper {
    display: flex; /* logo gnb tnb 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
   
}
header .gnb .btn_open,
header .gnb .btn_close {
    display: none; /* 모바일에서만 보이게 글자 숨기기 */
}

header .gnb .gnb_wrap ul {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: 'Gmarket Sans';
    font-size: 20px;
    font-weight: 500;
    line-height: 100px; /* header의 높이만큼 행간을 준다, 그럼 글자의 높이가 header와 같아지고
    위아래 가운데에 글자가 들어감 (민테 아휘메뉴를 열기 위한 값) */
    padding: 0 29px; /* 메뉴 글자(li)의 여백 */
}
header .tnb {
    display: flex; /* mypage lang 좌우로 배치*/
    gap: 10px; /* 둘사이의 여백 */
}
header .tnb .mypage {
    display: block;
    width: 40px; /* 아이콘 박스 사이즈 */
    height: 40px;
    /* 백그라운드 아이콘의 크기조절 하는법 */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2025' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2025)'%3E%3Cpath d='M5.85 17.1C6.7 16.45 7.65 15.9375 8.7 15.5625C9.75 15.1875 10.85 15 12 15C13.15 15 14.25 15.1875 15.3 15.5625C16.35 15.9375 17.3 16.45 18.15 17.1C18.7333 16.4167 19.1875 15.6417 19.5125 14.775C19.8375 13.9083 20 12.9833 20 12C20 9.78333 19.2208 7.89583 17.6625 6.3375C16.1042 4.77917 14.2167 4 12 4C9.78333 4 7.89583 4.77917 6.3375 6.3375C4.77917 7.89583 4 9.78333 4 12C4 12.9833 4.1625 13.9083 4.4875 14.775C4.8125 15.6417 5.26667 16.4167 5.85 17.1ZM12 13C11.0167 13 10.1875 12.6625 9.5125 11.9875C8.8375 11.3125 8.5 10.4833 8.5 9.5C8.5 8.51667 8.8375 7.6875 9.5125 7.0125C10.1875 6.3375 11.0167 6 12 6C12.9833 6 13.8125 6.3375 14.4875 7.0125C15.1625 7.6875 15.5 8.51667 15.5 9.5C15.5 10.4833 15.1625 11.3125 14.4875 11.9875C13.8125 12.6625 12.9833 13 12 13ZM12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20C12.8833 20 13.7167 19.8708 14.5 19.6125C15.2833 19.3542 16 18.9833 16.65 18.5C16 18.0167 15.2833 17.6458 14.5 17.3875C13.7167 17.1292 12.8833 17 12 17C11.1167 17 10.2833 17.1292 9.5 17.3875C8.71667 17.6458 8 18.0167 7.35 18.5C8 18.9833 8.71667 19.3542 9.5 19.6125C10.2833 19.8708 11.1167 20 12 20ZM12 11C12.4333 11 12.7917 10.8583 13.075 10.575C13.3583 10.2917 13.5 9.93333 13.5 9.5C13.5 9.06667 13.3583 8.70833 13.075 8.425C12.7917 8.14167 12.4333 8 12 8C11.5667 8 11.2083 8.14167 10.925 8.425C10.6417 8.70833 10.5 9.06667 10.5 9.5C10.5 9.93333 10.6417 10.2917 10.925 10.575C11.2083 10.8583 11.5667 11 12 11Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 24px; /*1개만 쓰면 넓이임 , 높이는 비율에 맞게 알아서 들어감 */
    background-repeat: no-repeat;
    background-position: center center;
}
header .tnb .lang {
    display: block;
    width: 40px; /* 아이콘 박스 사이즈 */
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2030' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2030)'%3E%3Cpath d='M12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.32083 2.7875 8.1125C3.3125 6.90417 4.02917 5.84583 4.9375 4.9375C5.84583 4.02917 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6792 2.2625 15.8875 2.7875C17.0958 3.3125 18.1542 4.02917 19.0625 4.9375C19.9708 5.84583 20.6875 6.90417 21.2125 8.1125C21.7375 9.32083 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.9708 18.1542 19.0625 19.0625C18.1542 19.9708 17.0958 20.6875 15.8875 21.2125C14.6792 21.7375 13.3833 22 12 22ZM12 19.95C12.4333 19.35 12.8083 18.725 13.125 18.075C13.4417 17.425 13.7 16.7333 13.9 16H10.1C10.3 16.7333 10.5583 17.425 10.875 18.075C11.1917 18.725 11.5667 19.35 12 19.95ZM9.4 19.55C9.1 19 8.8375 18.4292 8.6125 17.8375C8.3875 17.2458 8.2 16.6333 8.05 16H5.1C5.58333 16.8333 6.1875 17.5583 6.9125 18.175C7.6375 18.7917 8.46667 19.25 9.4 19.55ZM14.6 19.55C15.5333 19.25 16.3625 18.7917 17.0875 18.175C17.8125 17.5583 18.4167 16.8333 18.9 16H15.95C15.8 16.6333 15.6125 17.2458 15.3875 17.8375C15.1625 18.4292 14.9 19 14.6 19.55ZM4.25 14H7.65C7.6 13.6667 7.5625 13.3375 7.5375 13.0125C7.5125 12.6875 7.5 12.35 7.5 12C7.5 11.65 7.5125 11.3125 7.5375 10.9875C7.5625 10.6625 7.6 10.3333 7.65 10H4.25C4.16667 10.3333 4.10417 10.6625 4.0625 10.9875C4.02083 11.3125 4 11.65 4 12C4 12.35 4.02083 12.6875 4.0625 13.0125C4.10417 13.3375 4.16667 13.6667 4.25 14ZM9.65 14H14.35C14.4 13.6667 14.4375 13.3375 14.4625 13.0125C14.4875 12.6875 14.5 12.35 14.5 12C14.5 11.65 14.4875 11.3125 14.4625 10.9875C14.4375 10.6625 14.4 10.3333 14.35 10H9.65C9.6 10.3333 9.5625 10.6625 9.5375 10.9875C9.5125 11.3125 9.5 11.65 9.5 12C9.5 12.35 9.5125 12.6875 9.5375 13.0125C9.5625 13.3375 9.6 13.6667 9.65 14ZM16.35 14H19.75C19.8333 13.6667 19.8958 13.3375 19.9375 13.0125C19.9792 12.6875 20 12.35 20 12C20 11.65 19.9792 11.3125 19.9375 10.9875C19.8958 10.6625 19.8333 10.3333 19.75 10H16.35C16.4 10.3333 16.4375 10.6625 16.4625 10.9875C16.4875 11.3125 16.5 11.65 16.5 12C16.5 12.35 16.4875 12.6875 16.4625 13.0125C16.4375 13.3375 16.4 13.6667 16.35 14ZM15.95 8H18.9C18.4167 7.16667 17.8125 6.44167 17.0875 5.825C16.3625 5.20833 15.5333 4.75 14.6 4.45C14.9 5 15.1625 5.57083 15.3875 6.1625C15.6125 6.75417 15.8 7.36667 15.95 8ZM10.1 8H13.9C13.7 7.26667 13.4417 6.575 13.125 5.925C12.8083 5.275 12.4333 4.65 12 4.05C11.5667 4.65 11.1917 5.275 10.875 5.925C10.5583 6.575 10.3 7.26667 10.1 8ZM5.1 8H8.05C8.2 7.36667 8.3875 6.75417 8.6125 6.1625C8.8375 5.57083 9.1 5 9.4 4.45C8.46667 4.75 7.6375 5.20833 6.9125 5.825C6.1875 6.44167 5.58333 7.16667 5.1 8Z' fill='white'/%3E%3Crect x='-7.5' y='-7.5' width='39' height='39' stroke='black'/%3E%3Crect x='-7.5' y='-7.5' width='39' height='39' stroke='black'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width:640px) {
            header {
                height: 56px;
            }
            header .wrapper {
                margin-right: 0;
                /* 오른쪽 여백만 삭제 - 메뉴 열기 버튼이 오른쪽 끝까지 배치되게 하려고 */
            }
            header .logo a img {
                width: 96px;
            }
            header .gnb .btn_open {
                display: block; /* none로 숨김요소를 다른속성(block) 주면 나타남 */
                width: 56px; /* 아이콘 정사각형 높이(모바일 헤더높이랑 같음) */
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_3546' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_3546)'%3E%3Cpath d='M4 7C3.71667 7 3.47917 6.90417 3.2875 6.7125C3.09583 6.52083 3 6.28333 3 6C3 5.71667 3.09583 5.47917 3.2875 5.2875C3.47917 5.09583 3.71667 5 4 5H20C20.2833 5 20.5208 5.09583 20.7125 5.2875C20.9042 5.47917 21 5.71667 21 6C21 6.28333 20.9042 6.52083 20.7125 6.7125C20.5208 6.90417 20.2833 7 20 7H4ZM4 19C3.71667 19 3.47917 18.9042 3.2875 18.7125C3.09583 18.5208 3 18.2833 3 18C3 17.7167 3.09583 17.4792 3.2875 17.2875C3.47917 17.0958 3.71667 17 4 17H20C20.2833 17 20.5208 17.0958 20.7125 17.2875C20.9042 17.4792 21 17.7167 21 18C21 18.2833 20.9042 18.5208 20.7125 18.7125C20.5208 18.9042 20.2833 19 20 19H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-size: 26px;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap  {
                display: none; /* 숨김 */
            }
            header .tnb {
                display: none; /* 숨김 */
            }
}/* @media */

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover ;
    height: 950px;
    color: #fff;
}
.visual h2 {
    padding: 397px 0 0 0;
}
.visual p {
    color: #fff;
    margin: 10px 0 0 0;
}
@media screen and (max-width:640px) {
            .visual {
                height: auto; /* 높이를 안준 것 처럼 콘텐츠 길이만큼 늘어남 */
                text-align: center;
                padding: 0 0 250px 0; /* p글자부터의 아래 하단 여백 */
            }
            .visual h2 {
                padding: 350px 0 0 0;
            }
            .visual p {
                margin: 16px 0 0 0;
            }
            .visual p br {
                display: none; /* 줄바꿈 삭제 */
            }
}/* @media */

.project {
    margin: 266px 0 0 0;
}
.project .wrapper {
    display: flex; /* tit 와 list 좌우로 배치 */
    justify-content: space-between;
    align-items: flex-start; /* tit의 높이를 존재하는 만큼만 주기 위해서, top상단 고정전에 주는것 */
}
.project  .tit {
    position: sticky; /* 감싸는 wrapper를 기준으로 정렬 무조건 , 감싸는 요소를 고정 
    sticky의 단점 : 감싸는 요소 중 한개라도 overflow:hidden 값을 가지고 있으면 적용안됨
    사실상 못쓴다고 생각하면 된다*/
    top: 20px; /* top은 상단에 고정되었을때 위치값 , 좌우정렬값 주면 안됨(flex에서 벗어남)*/
}
.project  .tit h2 {
    color: #0078E9;
    margin: 19px 0 10px 0;
}
.project .list {
    width: 66.03% ; /* 너비 제한 , 832(사진 2개가로너비) / 1260*100 = 66.03  */
    margin: 173px 0 0 0; /* 첫번째 사진 여백, 하지만 1줄같이내려감  */
}
.project .list ul li:nth-child(even) {
    /* even - 짝수 ,odd - 홀수 / 짝수 사진 올라가게하기 */
    transform: translateY(-173px);
}

.project .list ul {
    display: flex; /* 사진 가로 정렬 */
    flex-wrap: wrap; /* 2줄이상 허용 */
    gap: 24px; /* 이미지 2개 사이의 여백 */
}
.project .list ul li {
    width: calc(50% - 12px) ;
    /*  li사진의 너비  
        100% / 한줄에 보일 li의 갯수 = 100/2 = 50% 
        한줄에 있는 여백에 총합 / 한줄에 보일 li의 갯수 = 24px/2 = 12px 
        photo에게 너비 주면 안되고 li에게 주는거임 (모바일떄문)       */
}
.project .list ul li a {
    display: block; 
    position: relative; /* txt 정렬의 기준 */
}
.project .list ul li a .photo {
    overflow: hidden; /* 이미지 제한 */
    border-radius: 20px;
    height: 500px; /* 이미지 높이, photo에게 너비 주면 안됨 */
    position: relative; /* before 정렬의 기준 */
}
.project .list ul li a .photo::before {
    content: "";
    position: absolute; /*photo를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%; /* 색상 꽉 채워줌 */
    height: 100%; /* 색상 꽉 채워줌 */
    background-color: rgba(0,120,233,0.8);
    opacity: 0; /* 존재는 하는데 안보이게 해줌 */
    transition: 0.5s; /* 부드럽게 해주는 애니메이션 */
}
.project .list ul li a .photo img {
    /* 이미지를 감싸는 영역 photo 사이즈 만큼만 나오게 리사이즈,
    이미지를 영역에 꽉차게 하는법  */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬  */
    left: 40px; /* 띄어지는 사진 안쪽 여백 */
    bottom: 60px; /* 자세히 보기 밑 여백 */
    width: calc(100% - 80px); /* 왼쪽여백 오른쪽여백의 합 (80px), 사진 안쪽 여백 계산  */
    color: #fff;
}
/* txt여백 주는 다른 방법 padding으로 주는법 
    .project .list ul li a .txt {
    position: absolute;
    left: 0px; 
    bottom: 0;
    width: 100%;
    padding: 0 40px ;
    color: #fff; 
} */

.project .list ul li a .txt h3 {
    font-family: 'Gmarket Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.project .list ul li a .txt p {
    display: none; /* 숨김 -  display: none;은 아예 태그가 존재하지 않은것 처럼 숨김처리됨 */
    margin: 13px 0 10px 0;
}
.project .list ul li a .txt span {
    display: none; /* 숨김 - dispaly:none은 아예 태그가 존재하지 않는 것처럼 코딩됨 */
    color: rgba(255,255,255,0.6);
    padding: 0 20px 0 0 ;/* 아이콘과의 여백 */
    position: relative; /* after정렬의 기준 */
}
.project .list ul li a .txt span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2122' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2122)'%3E%3Cpath d='M9.04713 7.5L4.45338 2.90625C4.29713 2.75 4.22161 2.5651 4.22681 2.35156C4.23202 2.13802 4.31275 1.95313 4.469 1.79688C4.62525 1.64063 4.81015 1.5625 5.02369 1.5625C5.23723 1.5625 5.42213 1.64063 5.57838 1.79688L10.3753 6.60938C10.5003 6.73438 10.594 6.875 10.6565 7.03125C10.719 7.1875 10.7503 7.34375 10.7503 7.5C10.7503 7.65625 10.719 7.8125 10.6565 7.96875C10.594 8.125 10.5003 8.26563 10.3753 8.39063L5.56275 13.2031C5.4065 13.3594 5.22421 13.4349 5.01588 13.4297C4.80754 13.4245 4.62525 13.3438 4.469 13.1875C4.31275 13.0313 4.23463 12.8464 4.23463 12.6328C4.23463 12.4193 4.31275 12.2344 4.469 12.0781L9.04713 7.5Z' fill='white' fill-opacity='0.7'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:641px) {
                /******* 오버 했을때 641px 이상(포함) 에서만 작동 *********/
                .project .list ul li a:hover .photo::before {
                    opacity: 1; /* 마우스를 오버하면 보이게 해줌 ,transition 속성 써야되서 */
                }
                .project .list ul li a:hover .txt p{
                    display: block;  /* none로 숨김거 block 로보여줌 */
                }
                .project .list ul li a:hover .txt span {
                    display: inline-block; /* 아이콘 줘야해서 자세히보기에 딱 맞는 사이즈로  */
                }
}

@media screen and (max-width:640px) { /*640px 이하(포함) 에서만 작동 */
                .project {
                    margin: 109px 0 0 0;
                }
                .project .wrapper {
                    display: block; /* dispaly에 block 줘서 원래 줬던 flex 해지
                    tit list 위아래로 배치 됨 */

                }
                .project  .tit {
                    position: relative; /* sticky를 하기 위해 다른속성(relative) 줌 */
                    top: auto; /* auto- 최소화 , top 값을 지정하지 않은 것처럼 취소하는 값, 0이랑 다름 */
                }
                .project  .tit h2 {
                    margin: 0 0 11px 0;
                }
                .project .list {
                    width: auto ; /*  auto-최소화, list가 block요소이기 때문에 100% 들어감 */
                    margin: 31px 0 0 0; /* 첫번째 사진 여백, 하지만 1줄같이내려감  */
                }

                .project .list ul {
                    gap: 20px 16px; /* 위아래 - 좌우 */
                }
                .project .list ul li {
                    width: calc(50% - 8px) ;
                    /*  li사진의 너비  
                        100% / 한줄에 보일 li의 갯수 = 100/2 = 50% 
                        한줄에 있는 여백에 총합 / 한줄에 보일 li의 갯수 = 16px/2 = 8px 
                        photo에게 너비 주면 안되고 li에게 주는거임 (모바일떄문)       */
                }
                .project .list ul li:nth-child(even) {
                    /* even - 짝수 ,odd - 홀수 */
                    transform: none; /* 짝수 사진 올라가게 하기 취소됨 , none - 취소 */
                }
                .project .list ul li a .photo {
                    border-radius: 5px;
                    height: 100px; /* 이미지 높이, photo에게 너비 주면 안됨 */
                }
                .project .list ul li a .txt {
                    /* absolute > 해제(relative)줌 , 그리고  auto로 줌 */
                    position: relative; /* a를 기준으로 정렬  */
                    left: auto; /* 띄어지는 사진 안쪽 여백 > 해제  */
                    bottom: auto; /* 자세히 보기 밑 여백 > 해제 */
                    width: auto; /* 왼쪽여백 오른쪽여백의 합 (80px), 사진 안쪽 여백 계산 > 해제   */
                    color: #1d1d1d;
                    padding: 9px 0 0 0;
                }
                /* txt여백 주는 다른 방법 padding으로 주는법 
                    .project .list ul li a .txt {
                    position: absolute;
                    left: 0px; 
                    bottom: 0;
                    width: 100%;
                    padding: 0 40px ;
                    color: #fff; 
                } */
                
                .project .list ul li a .txt h3 {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.2;
                    padding: 0 0 20px 0 ;
                }
                .project .list ul li a .txt h3 br {
                    display: none; /* 줄바꿈 삭제 */
                }
                .project .list ul li a .txt p {
                    display: none;
                }
                .project .list ul li a .txt span {
                    display: none; /* 숨김 - dispaly:none은 아예 태그가 존재하지 않는 것처럼 코딩됨 */
                    color: rgba(255,255,255,0.6);
                    padding: 0 20px 0 0 ;/* 아이콘과의 여백 */
                    position: relative; /* after정렬의 기준 */
                }
                .project .list ul li a .txt span::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 5px;
                    width: 16px;
                    height: 16px;
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2122' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2122)'%3E%3Cpath d='M9.04713 7.5L4.45338 2.90625C4.29713 2.75 4.22161 2.5651 4.22681 2.35156C4.23202 2.13802 4.31275 1.95313 4.469 1.79688C4.62525 1.64063 4.81015 1.5625 5.02369 1.5625C5.23723 1.5625 5.42213 1.64063 5.57838 1.79688L10.3753 6.60938C10.5003 6.73438 10.594 6.875 10.6565 7.03125C10.719 7.1875 10.7503 7.34375 10.7503 7.5C10.7503 7.65625 10.719 7.8125 10.6565 7.96875C10.594 8.125 10.5003 8.26563 10.3753 8.39063L5.56275 13.2031C5.4065 13.3594 5.22421 13.4349 5.01588 13.4297C4.80754 13.4245 4.62525 13.3438 4.469 13.1875C4.31275 13.0313 4.23463 12.8464 4.23463 12.6328C4.23463 12.4193 4.31275 12.2344 4.469 12.0781L9.04713 7.5Z' fill='white' fill-opacity='0.7'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                }

}/*@media*/ 

.webzine {
    background-color: #E6F0FD;
    margin: 155px 0 0 0;
    padding: 123px 0 163px 0; /* 하단 여백, 그림자박스 떄문에 -10px 뻄 */
    position: relative; /* more 정렬의 기준 */
}
.webzine .tit h2 {
    color: #0078E9;
    margin: 0 0 10px 0;
}
.webzine .list {
    width: calc(50% + 630px); /* 50% =절반 , 630px = wrapper사이즈(1260) 절반 */
    position: relative;
    left: calc(50% - 630px); /* 50% =절반 , 630px = wrapper사이즈(1260) 절반 */
    padding: 56px 0 10px 0; /*hidden을 주면 박스가 잘려서 margin말고 padding 줘야함 */
    overflow: hidden; /* 가로 스크롤바 삭제 , 하지만 박스그림자가 잘라짐 */
}
.webzine .list ul {
    display: flex;
    gap: 24px;
    /*   ul이 li사이즈에 버터야함 그래서 ul이 묶어줘야함
    li의 넓이 * li의 갯수 + li의 여백 * li의 갯수  
    297 * 5 + 24 * 5 = 1605    */
    width: 1605px;
}
.webzine .list ul li {
    width: 297px; /* calc 안함- 브라우저를 줄이면 여백이 고정되고 너비도 고정이라 calc안줌 */
}
.webzine .list ul li a {
    display: block;
    background-color: #fff;
    border-radius: 20px;
    color: #555;
    overflow: hidden; /* 이미지 자름 */
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.25); /* 박스 그림자 */
    transition: 0.5s;  /* 오버이후 부드럽게 효과 */
}
.webzine .list ul li a .photo {
    overflow: hidden;
    height: 250px; /* 이미지 높이 */
}
.webzine .list ul li a .photo img {
    height: 100%; /* 이미지는 리사이즈가 안되기 때문에 */
    width: 100%;
    object-fit: cover; /* 이미지 안에 맞게 */
    transition: 0.5s; /* 오버이후 부드럽게 효과 */
}
.webzine .list ul li a .txt {
    padding: 30px 20px 37px 20px ; /* txt 내부 여백 */
}
.webzine .list ul li a .txt strong {
    color: #0078E9;
    display: block; /* strong태그가 line태그여서 block줌 */

    /* 1줄 제한 , 넓이가 제한이 되야함(block요소여야함) */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.webzine .list ul li a .txt h3 {
    font-family: 'Gmarket Sans';
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 14px 0 3px 0; /* 줄 수 제한 해야해서 padding 주면안됨 */

    /* 2줄 제한 - 조건: block요소여야함, 절대 padding 주면 안됨 
       행간을 지정.. 행간을 알면 안줘도 됨
       높이 = 행간 * 줄 수 = 1.2 * 2 = 2.4 (단위는 em)
       
       2줄 이상 제한은 끝에 ...이 자동으로 생성되진 않음 (-webkit 가능 )*/
       line-height: 1.2;
       height: 2.4em;
       overflow: hidden; /* 필수 */
}
.webzine .list ul li a .txt p {
    /* 2줄 제한 */
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.webzine .list ul li a .txt .date {
    display: block;
    margin: 10px 0 0 0;
}
.webzine .more {
    position: absolute; /* webzine 기준으로 정렬 */
    top: 160px;
    right: calc(50% + -630px) ; /* 630 = 1260px 반, 
    브라우저 사이즈 바뀌어도 가운데는 변하지 않음
    그 가운데로 부터 wrapper의 사이즈 1260의 절반을 더 오른쪽으로 이동 
    그러면 wrapper 오른쪽끝에 딱 걸쳐서 들어간다  */
    color: #0078E9;
    border: 1px solid #0078E9;
    border-radius: 30px;
    padding: 10px 52px 10px 18px;
} 

.webzine .more::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 16px;
    top: 11px;
    height: 24px;
    width: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2213' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2213)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%230078E9'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:641px) {
    /******** 오버 효과 ***********/
                .webzine .list ul li a:hover .photo img {
                    transform: scale3d(1.2, 1.2, 1); /* 1은 가운데 */
                }
                .webzine .list ul li a:hover {
                    transform: translate(0, -10px); /* 위아래, 좌우 값*/
                }
                .webzine .more:hover {
                    background: #3FDDE2;
                    border: 1px solid #3FDDE2;
                    color: #fff;
                }
                .webzine .more:hover::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2213' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2213)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
}/* @media */

@media screen and (max-width:640px) { /* 모바일 */
    /* 640px 보다 작을때만 ( 640포함 )*/

                .webzine {
                    margin: 50px 0 0 0;
                    padding: 109px 0 48px 0;
                }
                .webzine .tit {
                    margin-right: 67px; /* 아이콘 넉넉한 넓이 사이즈 */
                }
                .webzine .tit h2 {
                    margin: 0 0 6px 0;
                }
                .webzine .list {
                    width: 100%; /* 스크롤 넘길때 왼쪽사진 여백 없이 해주려고,
                    position속성이 있는 요소에는 넓이 auto주면 100%안됨 */
                    left: 0;/* 스크롤 넘길때 왼쪽사진 여백 없이 해주려고*/
                    padding: 32px 0 10px 20px; /*hidden을 주면 박스가 잘려서 margin말고 padding 줘야함 */
                    overflow-x: auto; /* overflow-x 좌우 auto
                    list안에 있는 요소가 list보다 넓이가 크면 그때만 가로스크롤바가 생김 */
                }
                .webzine .list ul {
                    gap: 19px;
                    /*   ul이 li사이즈에 버터야함 그래서 ul이 묶어줘야함
                    li의 넓이 * li의 갯수 + li의 여백 * li의 갯수  
                    250 * 5 + 19 * 5 = 1345    */
                    width: 1345px;
                }
                .webzine .list ul li {
                    width: 265px; /* calc 안함 */
                }
                .webzine .list ul li a {
                    border-radius: 10px;
                }
                .webzine .list ul li a .photo {
                    height: 220px; /* 이미지 높이 */
                }
                .webzine .list ul li a .txt {
                    padding: 38px 16px 35px 16px ; /* txt 내부 여백 */
                }
                .webzine .list ul li a .txt h3 {
                    font-size: 18px;
                    margin: 10px 0 8px 0; /* 줄 수 제한 해야해서 padding 주면안됨 */
                }
                .webzine .more {
                    top: 133px;
                    right: 20px; /* 630 = 1260px 반, 
                    브라우저 사이즈 바뀌어도 가운데는 변하지 않음
                    그 가운데로 부터 wrapper의 사이즈 1260의 절반을 더 오른쪽으로 이동 
                    그러면 wrapper 오른쪽끝에 딱 걸쳐서 들어간다  */
                    border-radius: 50%;/* 동그라미 */
                    padding: 0; /* 0일때 동그라미됨 */
                    height: 34px;
                    width: 34px;
                } 
                
                .webzine .more::after {
                    right: 0;
                    top: 0;
                    height: 100%; /* center ceter로 줘서 100% 로 주면 가운데로 들어감 */
                    width: 100%;
                    background-size: 22px;
                }
                .webzine .more span {
                    display: none; /* 글자 숨김 */
                }


}/* @media */

.news {
    margin: 110px 0 0 0;
}
.news .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.news .tit h2 {
    color: #0078E9;
    margin: 0px 0 10px 0;
}
.news .list {
    margin: 59px 0 0 0;
}
.news .list ul li {
    margin: 10px 0 0 0; /* 마진여백은 중첩되면 둘중에(list) 큰 여백이 들어가서
    first-chid 안줘도 되지만 그냥 함 */
}
.news .list ul li:first-child {
    margin-top: 0; /* 마진여백은 중첩되면 둘중에(list) 큰 여백이 들어가서
    first-chid 안줘도 되지만 그냥 함 */
}
.news .list ul li a {
    display: flex; /*subject 와 date 좌우배치*/
    justify-content: space-between; /* 양 끝 정렬 */
    align-items: center;
    border: 1px solid #A9AAB7;
    padding: 26px 50px; 
}
.news .list ul li a .subject {
    display: flex; /* strong 와 h3 좌우배치 */
    align-items: center;
    justify-content: space-between; 
    width: calc(100% - 145px); /* 145px : date의 너비 */
}
.news .list ul li a .subject strong {
    display: block; 
    padding: 3px 19px;
    background-color: #0078E9;
    color: #fff;
    border-radius: 30px;
}
.news .list ul li a .date {
    width: 145px; /* 글자넓이 + 제목과의 여백 간격 */
    text-align: right;
}
.news .list ul li a .subject h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    width: calc(100% - 144px);
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .more {
    position: absolute; /*wrapper 기준을 정렬*/
    right: 0;
    top: 36px;
    color: #0078E9;
    border: 1px solid #0078E9;
    border-radius: 30px;
    padding: 10px 52px 10px 18px;
} 
.news .more::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 16px;
    top: 11px;
    height: 24px;
    width: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2213' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2213)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%230078E9'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px) {
    /* 641px 이상일때만( 641포함 )*/
            .news .list ul li a:hover {
                background-color: #E6F0FD;
                border: 1px solid #E6F0FD;
                padding: 26px 50px; 
                box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.25); /* 박스 그림자 */
            }
                .news .list ul li a .subject h3 span {
                position: relative; /* 밑줄, h3 span태그로 감싼다*/
            }
              .news .list ul li a:hover .subject h3 span::after {
                /* 밑줄 */
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: #1d1d1d;
              }
            .news .more:hover {
                color: #fff;
                border: 1px solid #3FDDE2;
                background-color: #3FDDE2;
            } 
            .news .more:hover:after {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2213' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2213)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
}/* @media */


@media screen and (max-width:640px) {
    /* 640px 보다 작을때만 ( 640포함 )*/
            .news {
                margin: 105px 0 0 0;
            }
            .news .wrapper {
                position: relative; /* more 정렬의 기준 */
            }
            .news .tit  {
                margin-right: 48px;
                /* 더보기 아이콘 들어갈 영역을 여백 처리함
                - 중복되어 보이지 않게 하기 위해서 */
            } 
            .news .tit h2 {
                font-size: 16px;
                margin: 0px 0 6px 0;
            }
            .news .list {
                margin: 49px 0 0 0;
            }
            .news .list ul li a {
                display: block; /*subject 와 date 좌우배치*/
                justify-content: space-between; /* 양 끝 정렬 */
                align-items: center;
                border: 1px solid #E6F0FD;
                background-color: #E6F0FD;
                padding: 30px 14px 20px 20px; 
            }
            .news .list ul li:nth-last-child(1),
            .news .list ul li:nth-last-child(2) {
                display: none; /* 마지막에서 첫번째, 두번째 숨김*/
            }
            .news .list ul li a .subject {
                display: block; /* strong 와 h3 좌우배치 */
                width: auto; /* 145px : date의 너비 */
            }
            .news .list ul li a .subject strong {
                display: inline-block; 
                padding: 3px 15px;
            }
            .news .list ul li a .date {
                width: auto; /* 글자넓이 + 제목과의 여백 간격 */
                text-align: right;
            }
            .news .list ul li a .subject h3 {
                font-size: 16px;
                width: auto;
                /* 1줄 제한  > 무제한 줄바꿈 */
                white-space: normal;
                overflow: visible;
                margin: 13px 0 3px 0;
            }
            .news .more {
                top: 22px;
                padding: 0; /* 패딩 0을 줘야 동그라미 됨 */
                width: 34px;
                height: 34px;
                border-radius: 50%; /* 동그라미 */
            } 
            .news .more::after {
                right: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-size: 22px;
            }
            .news .more span {
                display: none; /* 글자 숨김 처리 ,span으로 감싸줘야함 */
            }
}/* @media */

.service {
    background-color: #E6F0FD;
    margin: 147px 0 0 0 ;
    padding: 130px 0 135px 0;
} 
.service .tit h2 {
    color: #0078E9;
    margin: 0px 0 10px 0;
}
.service .list {
    margin: 57px 0 0 0;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /*
    100%/한줄에 나올 li갯수 = 100/3 = 33.33
    1줄에 존재하는 여백의 총합/한줄에 나올 li갯수= (24+24)/3 = 48/3 = 16
    */
    transition: 0.5s;
}
.service .list ul li a {
    display: block;
    background-color: #fff;
    padding: 28px 0 28px 30px; /* block이라 오른쪽여백 안줌 */
    position: relative; /* after 정렬의 기준 */
}
.service .list ul li a h3 {
    font-family: 'Gmarket Sans';
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color:#1d1d1d;
}
.service .list ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    right: 30px;
    top: 33px;
    width: 38px;
    height: 38px;
    border: 1px solid #0078E9;
    border-radius: 50%; /* 동그라미 */
    background-color: #0078E9;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2243' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2243)'%3E%3Cpath d='M11.4591 9.5013L5.64033 3.68255C5.44241 3.48464 5.34675 3.25043 5.35335 2.97995C5.35994 2.70946 5.4622 2.47526 5.66012 2.27734C5.85803 2.07943 6.09224 1.98047 6.36272 1.98047C6.63321 1.98047 6.86741 2.07943 7.06533 2.27734L13.1414 8.37318C13.2997 8.53151 13.4185 8.70964 13.4976 8.90755C13.5768 9.10547 13.6164 9.30339 13.6164 9.5013C13.6164 9.69922 13.5768 9.89714 13.4976 10.0951C13.4185 10.293 13.2997 10.4711 13.1414 10.6294L7.04553 16.7253C6.84762 16.9232 6.61671 17.0188 6.35283 17.0122C6.08894 17.0056 5.85803 16.9034 5.66012 16.7055C5.4622 16.5076 5.36324 16.2734 5.36324 16.0029C5.36324 15.7324 5.4622 15.4982 5.66012 15.3003L11.4591 9.5013Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 19px;
}

@media screen and (min-width:641px) {
                /* 641px 이상일때만( 641포함 )*/
                .service .list ul li:hover {
                    transform: translate(0, -10px); /* 위아래, 좌우 값*/
                    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.25);
                }
                .service .list ul li:hover a h3 {
                    color: #fff;
                }
                .service .list ul li:hover a p{
                    color: #fff;
                }
                .service .list ul li a:hover {
                    background-color: #3FDDE2;  
                }
                .service .list ul li a:hover::after {
                    content: "";
                    position: absolute; /* a를 기준으로 정렬 */
                    right: 30px;
                    top: 33px;
                    width: 38px;
                    height: 38px;
                    border: 1px solid #fff;
                    border-radius: 50%; /* 동그라미 */
                    background-color: #fff;
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2243' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2243)'%3E%3Cpath d='M11.4591 9.5013L5.64033 3.68255C5.44241 3.48464 5.34675 3.25043 5.35335 2.97995C5.35994 2.70946 5.4622 2.47526 5.66012 2.27734C5.85803 2.07943 6.09224 1.98047 6.36272 1.98047C6.63321 1.98047 6.86741 2.07943 7.06533 2.27734L13.1414 8.37318C13.2997 8.53151 13.4185 8.70964 13.4976 8.90755C13.5768 9.10547 13.6164 9.30339 13.6164 9.5013C13.6164 9.69922 13.5768 9.89714 13.4976 10.0951C13.4185 10.293 13.2997 10.4711 13.1414 10.6294L7.04553 16.7253C6.84762 16.9232 6.61671 17.0188 6.35283 17.0122C6.08894 17.0056 5.85803 16.9034 5.66012 16.7055C5.4622 16.5076 5.36324 16.2734 5.36324 16.0029C5.36324 15.7324 5.4622 15.4982 5.66012 15.3003L11.4591 9.5013Z' fill='%233FDDE2'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 19px;
                }
}

@media screen and (max-width:640px) {
    /* 640px 보다 작을때만 ( 640포함 ) , 모바일*/
    .service {
        background-color: transparent; /* 배경색 투명 */
        margin: 104px 0 111px 0;
        padding: 0;
    } 
    .service .tit h2 {
        font-size: 16px;
        margin: 0px 0 6px 0;
    }
    .service .list {
        margin: 23px 0 0 0;
    }
    .service .list ul li {
        width: calc(33.33% - 10.66px);
        /*
        100%/한줄에 나올 li갯수 = 100/3 = 33.33
        1줄에 존재하는 여백의 총합/한줄에 나올 li갯수= (16+16)/3 = 32/3 = 10.66
        */
    }
    .service .list ul li a {
        display: block;
        padding: 29px 20px 84px 20px; /* block이라 오른쪽여백 안줌 */
        border:1px solid #0078E9;
        text-align: center;
        height: 100%;
    }
    .service .list ul li a h3 {
        font-size: 20px;
    }
    .service .list ul li a::after {
        bottom: 22px;
        top: auto;
        right: 50%;
        transform: translateX(50%); /* 나 자신의 크기 절반 , 가운데 정렬*/
        width: 34px;
        height: 34px;
    }
    .service .list ul li a p {
    display: none; /* 모바일에서만 보이게 글자 숨기기 */
    }

}/* @media */

footer{
    padding: 91px 0 94px 0;
    background-color: #090909;
    color: #A7AFBE;
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    gap: 5px 40px; /* 좌우값 - 위아래 값 */
}
footer .f_nav ul li {
    position: relative; /* after 정렬의 기준 */
}
footer .f_nav ul li::after {
    content: "";
    position: absolute; /* li기준으로 정렬 */
    right: -18px;
    top: 12px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(167,175,190,0.8)
}
footer .f_nav ul li:last-child::after {
    display: none; /* 마지막 li의 after 동그라미 삭제 */
} 


footer .f_info {
     margin: 30px 0;
     display: flex;
     flex-wrap: wrap; /* 줄바꿈 허용 */
     gap: 5px 36px;
}