header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}
header .logo a {
    display: block;
    width: 209px;
    height: 44px;
    background: url(../images/common/logo.svg) no-repeat center center / contain;
}
header .util .search {
    position: relative;
    width: 221px;
}
header .util .search input[type="text"] {
    border: none;
    border-bottom: 1px solid #1D1D1D;
    width: 100%;
    height: 29px;
    padding-right: 30px;
}
header .util .search input[type="text"]::placeholder {
    color: #ccc;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #1d1d1d; /* 클릭 시 밑줄 강조 등 */
}
header .util .search .search_open{
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_1411' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_1411)'%3E%3Cpath d='M9.0582 15.465C7.28273 15.465 5.77871 14.8488 4.54613 13.6162C3.31355 12.3834 2.69727 10.8794 2.69727 9.1041C2.69727 7.32879 3.31355 5.82476 4.54613 4.59203C5.77871 3.35945 7.28273 2.74316 9.0582 2.74316C10.8335 2.74316 12.3375 3.35945 13.57 4.59203C14.8028 5.82476 15.4191 7.32879 15.4191 9.1041C15.4191 9.81455 15.3112 10.4784 15.0952 11.0955C14.8791 11.7127 14.5871 12.257 14.2191 12.7285L19.54 18.0552C19.7423 18.2614 19.8435 18.5165 19.8435 18.8204C19.8435 19.1245 19.7404 19.3778 19.5342 19.5801C19.3317 19.7825 19.0775 19.8837 18.7716 19.8837C18.4658 19.8837 18.2116 19.7825 18.0093 19.5801L12.6941 14.265C12.2188 14.6331 11.6706 14.9252 11.0496 15.1411C10.4286 15.3571 9.76481 15.465 9.0582 15.465ZM9.0582 13.2848C10.2216 13.2848 11.2093 12.8789 12.0211 12.067C12.833 11.2553 13.2389 10.2677 13.2389 9.1041C13.2389 7.94053 12.833 6.95288 12.0211 6.14118C11.2093 5.32931 10.2216 4.92337 9.0582 4.92337C7.89463 4.92337 6.90691 5.32931 6.09504 6.14118C5.28333 6.95288 4.87747 7.94053 4.87747 9.1041C4.87747 10.2677 5.28333 11.2553 6.09504 12.067C6.90691 12.8789 7.89463 13.2848 9.0582 13.2848Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


@media screen and (min-width:1220px) {
    
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 179px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        font-size: 24px;
        font-weight: var(--bold-weight);
        color: var(--tit-color);
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > .depth2 {
        display: none;
    }

    header .gnb .gnb_wrap ul.depth1 > li > .depth2 {
        position: absolute; /* 브라우저 전체 기준 */
        top: 100%;
        left: 0;
        width: auto; /* 부모 상관없이 전체 너비 */
        min-width: 100vw; /* 뷰포트 기준 너비 보장 */
        background-color: #fff;
        z-index: 999;
        box-sizing: border-box;

        display: flex; /* h3와 ul을 가로로 배치 */
        align-items: flex-start;
        padding: 40px 0 40px 233px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > .depth2 h3.title {
        font-size: 30px;
        font-weight: var(--bold-weight);
        color: var(--point-color);
        padding-right: 40px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > .depth2 > ul.list {
        position: relative;
        display: grid;
        grid-template-rows: repeat(6, auto); /* 6행 고정 */
        grid-auto-flow: column;              /* 먼저 세로로 채운 뒤 다음 컬럼으로 */
        column-gap: 46px
    }
    header .gnb .gnb_wrap ul.depth1 > li > .depth2 > ul.list::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #ccc;
    }
    header .gnb .gnb_wrap ul.depth1 > li > .depth2 > ul.list > li {
        break-inside: avoid;
        padding-left: 130px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > .depth2 > ul.list > li > a {
        display: block;
        line-height: 2.5;
    }
    header .gnb .gnb_wrap ul.depth1 > li > .depth2 > ul.list > li > a:hover {
        color: var(--point-color);
        font-weight: var(--bold-weight);
    }
}
  


footer {
    margin: 1500px 0 0 0;
}