/* header 와 footer 같이 모든 페이지 공통사항 저장 */
header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    display: flex; /* logo , gnb , util 좌우배치 */
    justify-content: space-between; /* 양쪽끝*/
    align-items: center; /* 가운데정렬 */
    color: #fff;
    transition: top 0.5s; /*top만 부드럽게*/
}
header .logo a {
    display: block;
    height: 3.41em;  /*58/17 =3.41*/
    width: 10.29em; /* 175/17 =10.29*/
    background: url(../images/common/logo_w.svg) no-repeat center center / contain ;
    margin-bottom: 20px; /* 너무 밑으로 내려가있어서 올려줌 */
}


header .util {
    display: flex;
    gap: 25px;
}
header .util .lang .lang_open,
header .util .search .search_open {
    padding: 0 0 0 1.31em;
    position: relative; /* before 정렬의 기준 */
}
header .util .lang .lang_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.23em; /* 4/17 */
    width: 1.05em; /* 18/17 = 1.05 */
    height: 1.05em;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99984 17.3337C7.86095 17.3337 6.78456 17.1149 5.77067 16.6774C4.75678 16.2399 3.87136 15.6427 3.11442 14.8857C2.35748 14.1288 1.76025 13.2434 1.32275 12.2295C0.885254 11.2156 0.666504 10.1392 0.666504 9.00033C0.666504 7.84755 0.885254 6.76769 1.32275 5.76074C1.76025 4.7538 2.35748 3.87185 3.11442 3.11491C3.87136 2.35796 4.75678 1.76074 5.77067 1.32324C6.78456 0.885742 7.86095 0.666992 8.99984 0.666992C10.1526 0.666992 11.2325 0.885742 12.2394 1.32324C13.2464 1.76074 14.1283 2.35796 14.8853 3.11491C15.6422 3.87185 16.2394 4.7538 16.6769 5.76074C17.1144 6.76769 17.3332 7.84755 17.3332 9.00033C17.3332 10.1392 17.1144 11.2156 16.6769 12.2295C16.2394 13.2434 15.6422 14.1288 14.8853 14.8857C14.1283 15.6427 13.2464 16.2399 12.2394 16.6774C11.2325 17.1149 10.1526 17.3337 8.99984 17.3337ZM8.99984 15.6253C9.36095 15.1253 9.67345 14.6045 9.93734 14.0628C10.2012 13.5212 10.4165 12.9448 10.5832 12.3337H7.4165C7.58317 12.9448 7.79845 13.5212 8.06234 14.0628C8.32623 14.6045 8.63873 15.1253 8.99984 15.6253ZM6.83317 15.292C6.58317 14.8337 6.36442 14.358 6.17692 13.8649C5.98942 13.3719 5.83317 12.8614 5.70817 12.3337H3.24984C3.65262 13.0281 4.15609 13.6323 4.76025 14.1462C5.36442 14.66 6.05539 15.042 6.83317 15.292ZM11.1665 15.292C11.9443 15.042 12.6353 14.66 13.2394 14.1462C13.8436 13.6323 14.3471 13.0281 14.7498 12.3337H12.2915C12.1665 12.8614 12.0103 13.3719 11.8228 13.8649C11.6353 14.358 11.4165 14.8337 11.1665 15.292ZM2.5415 10.667H5.37484C5.33317 10.3892 5.30192 10.1149 5.28109 9.84408C5.26025 9.57324 5.24984 9.29199 5.24984 9.00033C5.24984 8.70866 5.26025 8.42741 5.28109 8.15658C5.30192 7.88574 5.33317 7.61144 5.37484 7.33366H2.5415C2.47206 7.61144 2.41998 7.88574 2.38525 8.15658C2.35053 8.42741 2.33317 8.70866 2.33317 9.00033C2.33317 9.29199 2.35053 9.57324 2.38525 9.84408C2.41998 10.1149 2.47206 10.3892 2.5415 10.667ZM7.0415 10.667H10.9582C10.9998 10.3892 11.0311 10.1149 11.0519 9.84408C11.0728 9.57324 11.0832 9.29199 11.0832 9.00033C11.0832 8.70866 11.0728 8.42741 11.0519 8.15658C11.0311 7.88574 10.9998 7.61144 10.9582 7.33366H7.0415C6.99984 7.61144 6.96859 7.88574 6.94775 8.15658C6.92692 8.42741 6.9165 8.70866 6.9165 9.00033C6.9165 9.29199 6.92692 9.57324 6.94775 9.84408C6.96859 10.1149 6.99984 10.3892 7.0415 10.667ZM12.6248 10.667H15.4582C15.5276 10.3892 15.5797 10.1149 15.6144 9.84408C15.6491 9.57324 15.6665 9.29199 15.6665 9.00033C15.6665 8.70866 15.6491 8.42741 15.6144 8.15658C15.5797 7.88574 15.5276 7.61144 15.4582 7.33366H12.6248C12.6665 7.61144 12.6978 7.88574 12.7186 8.15658C12.7394 8.42741 12.7498 8.70866 12.7498 9.00033C12.7498 9.29199 12.7394 9.57324 12.7186 9.84408C12.6978 10.1149 12.6665 10.3892 12.6248 10.667ZM12.2915 5.66699H14.7498C14.3471 4.97255 13.8436 4.36838 13.2394 3.85449C12.6353 3.3406 11.9443 2.95866 11.1665 2.70866C11.4165 3.16699 11.6353 3.64269 11.8228 4.13574C12.0103 4.6288 12.1665 5.13921 12.2915 5.66699ZM7.4165 5.66699H10.5832C10.4165 5.05588 10.2012 4.47949 9.93734 3.93783C9.67345 3.39616 9.36095 2.87533 8.99984 2.37533C8.63873 2.87533 8.32623 3.39616 8.06234 3.93783C7.79845 4.47949 7.58317 5.05588 7.4165 5.66699ZM3.24984 5.66699H5.70817C5.83317 5.13921 5.98942 4.6288 6.17692 4.13574C6.36442 3.64269 6.58317 3.16699 6.83317 2.70866C6.05539 2.95866 5.36442 3.3406 4.76025 3.85449C4.15609 4.36838 3.65262 4.97255 3.24984 5.66699Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

header .util .search .search_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.29em; /* 5/17*/
    width: 0.94em; /* 16/17 = 1.05 */
    height: 0.94em;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 15.5L9.08333 10.25C8.66667 10.5833 8.1875 10.8472 7.64583 11.0417C7.10417 11.2361 6.52778 11.3333 5.91667 11.3333C4.40278 11.3333 3.12153 10.809 2.07292 9.76042C1.02431 8.71181 0.5 7.43056 0.5 5.91667C0.5 4.40278 1.02431 3.12153 2.07292 2.07292C3.12153 1.02431 4.40278 0.5 5.91667 0.5C7.43056 0.5 8.71181 1.02431 9.76042 2.07292C10.809 3.12153 11.3333 4.40278 11.3333 5.91667C11.3333 6.52778 11.2361 7.10417 11.0417 7.64583C10.8472 8.1875 10.5833 8.66667 10.25 9.08333L15.5 14.3333L14.3333 15.5ZM5.91667 9.66667C6.95833 9.66667 7.84375 9.30208 8.57292 8.57292C9.30208 7.84375 9.66667 6.95833 9.66667 5.91667C9.66667 4.875 9.30208 3.98958 8.57292 3.26042C7.84375 2.53125 6.95833 2.16667 5.91667 2.16667C4.875 2.16667 3.98958 2.53125 3.26042 3.26042C2.53125 3.98958 2.16667 4.875 2.16667 5.91667C2.16667 6.95833 2.53125 7.84375 3.26042 8.57292C3.98958 9.30208 4.875 9.66667 5.91667 9.66667Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/****************아래로 스크롤 내릴떄 header가 사라짐 *********************/
header.fixed.gnb_up {
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0;
}
/****************header에 fixed 클래스 추가 *********************/

header.fixed,
header.menu_over {
    background-color: #fff;
    color: var(--tit-color);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1); /* 헤더 그림자 */
}

header.fixed .logo a,
header.menu_over .logo a {
    background: url(../images/common/logo_w.svg) no-repeat center center / contain ;
    background-image: url(../images/common/logo.svg);
}

header.fixed .util .lang .lang_open::before,
header.menu_over .util .lang .lang_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99984 17.3337C7.86095 17.3337 6.78456 17.1149 5.77067 16.6774C4.75678 16.2399 3.87136 15.6427 3.11442 14.8857C2.35748 14.1288 1.76025 13.2434 1.32275 12.2295C0.885254 11.2156 0.666504 10.1392 0.666504 9.00033C0.666504 7.84755 0.885254 6.76769 1.32275 5.76074C1.76025 4.7538 2.35748 3.87185 3.11442 3.11491C3.87136 2.35796 4.75678 1.76074 5.77067 1.32324C6.78456 0.885742 7.86095 0.666992 8.99984 0.666992C10.1526 0.666992 11.2325 0.885742 12.2394 1.32324C13.2464 1.76074 14.1283 2.35796 14.8853 3.11491C15.6422 3.87185 16.2394 4.7538 16.6769 5.76074C17.1144 6.76769 17.3332 7.84755 17.3332 9.00033C17.3332 10.1392 17.1144 11.2156 16.6769 12.2295C16.2394 13.2434 15.6422 14.1288 14.8853 14.8857C14.1283 15.6427 13.2464 16.2399 12.2394 16.6774C11.2325 17.1149 10.1526 17.3337 8.99984 17.3337ZM8.99984 15.6253C9.36095 15.1253 9.67345 14.6045 9.93734 14.0628C10.2012 13.5212 10.4165 12.9448 10.5832 12.3337H7.4165C7.58317 12.9448 7.79845 13.5212 8.06234 14.0628C8.32623 14.6045 8.63873 15.1253 8.99984 15.6253ZM6.83317 15.292C6.58317 14.8337 6.36442 14.358 6.17692 13.8649C5.98942 13.3719 5.83317 12.8614 5.70817 12.3337H3.24984C3.65262 13.0281 4.15609 13.6323 4.76025 14.1462C5.36442 14.66 6.05539 15.042 6.83317 15.292ZM11.1665 15.292C11.9443 15.042 12.6353 14.66 13.2394 14.1462C13.8436 13.6323 14.3471 13.0281 14.7498 12.3337H12.2915C12.1665 12.8614 12.0103 13.3719 11.8228 13.8649C11.6353 14.358 11.4165 14.8337 11.1665 15.292ZM2.5415 10.667H5.37484C5.33317 10.3892 5.30192 10.1149 5.28109 9.84408C5.26025 9.57324 5.24984 9.29199 5.24984 9.00033C5.24984 8.70866 5.26025 8.42741 5.28109 8.15658C5.30192 7.88574 5.33317 7.61144 5.37484 7.33366H2.5415C2.47206 7.61144 2.41998 7.88574 2.38525 8.15658C2.35053 8.42741 2.33317 8.70866 2.33317 9.00033C2.33317 9.29199 2.35053 9.57324 2.38525 9.84408C2.41998 10.1149 2.47206 10.3892 2.5415 10.667ZM7.0415 10.667H10.9582C10.9998 10.3892 11.0311 10.1149 11.0519 9.84408C11.0728 9.57324 11.0832 9.29199 11.0832 9.00033C11.0832 8.70866 11.0728 8.42741 11.0519 8.15658C11.0311 7.88574 10.9998 7.61144 10.9582 7.33366H7.0415C6.99984 7.61144 6.96859 7.88574 6.94775 8.15658C6.92692 8.42741 6.9165 8.70866 6.9165 9.00033C6.9165 9.29199 6.92692 9.57324 6.94775 9.84408C6.96859 10.1149 6.99984 10.3892 7.0415 10.667ZM12.6248 10.667H15.4582C15.5276 10.3892 15.5797 10.1149 15.6144 9.84408C15.6491 9.57324 15.6665 9.29199 15.6665 9.00033C15.6665 8.70866 15.6491 8.42741 15.6144 8.15658C15.5797 7.88574 15.5276 7.61144 15.4582 7.33366H12.6248C12.6665 7.61144 12.6978 7.88574 12.7186 8.15658C12.7394 8.42741 12.7498 8.70866 12.7498 9.00033C12.7498 9.29199 12.7394 9.57324 12.7186 9.84408C12.6978 10.1149 12.6665 10.3892 12.6248 10.667ZM12.2915 5.66699H14.7498C14.3471 4.97255 13.8436 4.36838 13.2394 3.85449C12.6353 3.3406 11.9443 2.95866 11.1665 2.70866C11.4165 3.16699 11.6353 3.64269 11.8228 4.13574C12.0103 4.6288 12.1665 5.13921 12.2915 5.66699ZM7.4165 5.66699H10.5832C10.4165 5.05588 10.2012 4.47949 9.93734 3.93783C9.67345 3.39616 9.36095 2.87533 8.99984 2.37533C8.63873 2.87533 8.32623 3.39616 8.06234 3.93783C7.79845 4.47949 7.58317 5.05588 7.4165 5.66699ZM3.24984 5.66699H5.70817C5.83317 5.13921 5.98942 4.6288 6.17692 4.13574C6.36442 3.64269 6.58317 3.16699 6.83317 2.70866C6.05539 2.95866 5.36442 3.3406 4.76025 3.85449C4.15609 4.36838 3.65262 4.97255 3.24984 5.66699Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}

header.fixed .util .search .search_open::before,
header.menu_over .util .search .search_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 15.5L9.08333 10.25C8.66667 10.5833 8.1875 10.8472 7.64583 11.0417C7.10417 11.2361 6.52778 11.3333 5.91667 11.3333C4.40278 11.3333 3.12153 10.809 2.07292 9.76042C1.02431 8.71181 0.5 7.43056 0.5 5.91667C0.5 4.40278 1.02431 3.12153 2.07292 2.07292C3.12153 1.02431 4.40278 0.5 5.91667 0.5C7.43056 0.5 8.71181 1.02431 9.76042 2.07292C10.809 3.12153 11.3333 4.40278 11.3333 5.91667C11.3333 6.52778 11.2361 7.10417 11.0417 7.64583C10.8472 8.1875 10.5833 8.66667 10.25 9.08333L15.5 14.3333L14.3333 15.5ZM5.91667 9.66667C6.95833 9.66667 7.84375 9.30208 8.57292 8.57292C9.30208 7.84375 9.66667 6.95833 9.66667 5.91667C9.66667 4.875 9.30208 3.98958 8.57292 3.26042C7.84375 2.53125 6.95833 2.16667 5.91667 2.16667C4.875 2.16667 3.98958 2.53125 3.26042 3.26042C2.53125 3.98958 2.16667 4.875 2.16667 5.91667C2.16667 6.95833 2.53125 7.84375 3.26042 8.57292C3.98958 9.30208 4.875 9.66667 5.91667 9.66667Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px) {
    header .gnb .gnb_bg,
    header .gnb .gnb_util,
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* 모바일에서만 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7.76em; /* 메뉴 네모박스 너비 132 / 17 = 7.76 */
        text-align: center;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h); /* 행간의 높이 = 헤더사이즈 */
        font-size: 1.29rem; /* 22pt / 17 = 1.29rem , 폰트는 rem*/
        font-weight: var(--bold-weight); /* 두께 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--point-color);

    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative; /* after정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.7em;
        width: 100%;
        height: 3PX;
        background-color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none !important;
        position: absolute; /* li를 기준으로 정렬 */
        left: 0;
        top: var(--header-h); /* header 높이값 */
        width: 100%; /* ul.depth2의 너비가 작아서 100% 넣어줘야함 그래야 가운데로 정렬됨 */
        padding: 29px 0 0 0; /*ul.depth2 윗여백 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--base-color);
        line-height: 1.7;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--bold-weight);
        color: var(--point-color);
    }

    /************** menu_over 추가시 *******************/

    header.menu_over::before {
        content: "";
        position: absolute; /* header를 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: -1; /* header 안에 있는 요소들중에 맨 아래임 하지만
                        header에 배경색을 줘도 그거보다는 위에 존재함 -> 박스쉐도우 다시줘야함  */
        width: 100%;
        height: 19.35em;/* 329px(박스높이값) / 17 = 19.35 */
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1); /* 헤더 그림자 */
    }
    header.menu_over::after {
        /* header 밑선 */
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #EDEDED;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important; /* 나타남 */
    }

}/*@media*/

@media screen and (min-width:1025px) and (max-width:1300px) {
    /* 브라우저 1300 ~ 1024사이 일때 */
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7em; /* 메뉴 좀 버티게 메뉴너비 줄임 */
    }
}/*@media*/


@media screen and (max-width:1024px) { /* 모바일 */

    header {
        padding: 0 0 0 20px; /* 왼쪽만 20px 여백 */
    }
    
    header .logo a {
        height: 1.81em; 
        width: 5.5em;
        margin-bottom: 3px;
    }
    header .util {
        display: none;
        gap: 11px;
    }
    header .gnb .gnb_util {
        display: none;
        position: absolute; /* gnb_wrap기준으로 정렬*/
        left: 20px;
        top: 15px;
        gap: 0.68em /* 11 /16 = 0.68*/
    }
    header .gnb .gnb_util .lang .lang_open,
    header .gnb .gnb_util .search .search_open{
        padding: 0 0 0 1.31em; /* 21/16 = 1.31*/
        position: relative;
        color: var(--tit-color);
    }
    header .gnb .gnb_util .lang .lang_open::before,
    header .gnb .gnb_util .search .search_open::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 7px;
        width: 0.84em; /*14/16 =0.84em*/
        height: 0.84em;
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_util .lang .lang_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 15.5C6.975 15.5 6.00625 15.3031 5.09375 14.9094C4.18125 14.5156 3.38437 13.9781 2.70312 13.2969C2.02187 12.6156 1.48437 11.8187 1.09062 10.9062C0.696875 9.99375 0.5 9.025 0.5 8C0.5 6.9625 0.696875 5.99062 1.09062 5.08437C1.48437 4.17812 2.02187 3.38437 2.70312 2.70312C3.38437 2.02187 4.18125 1.48437 5.09375 1.09062C6.00625 0.696875 6.975 0.5 8 0.5C9.0375 0.5 10.0094 0.696875 10.9156 1.09062C11.8219 1.48437 12.6156 2.02187 13.2969 2.70312C13.9781 3.38437 14.5156 4.17812 14.9094 5.08437C15.3031 5.99062 15.5 6.9625 15.5 8C15.5 9.025 15.3031 9.99375 14.9094 10.9062C14.5156 11.8187 13.9781 12.6156 13.2969 13.2969C12.6156 13.9781 11.8219 14.5156 10.9156 14.9094C10.0094 15.3031 9.0375 15.5 8 15.5ZM8 13.9625C8.325 13.5125 8.60625 13.0437 8.84375 12.5562C9.08125 12.0687 9.275 11.55 9.425 11H6.575C6.725 11.55 6.91875 12.0687 7.15625 12.5562C7.39375 13.0437 7.675 13.5125 8 13.9625ZM6.05 13.6625C5.825 13.25 5.62812 12.8219 5.45937 12.3781C5.29062 11.9344 5.15 11.475 5.0375 11H2.825C3.1875 11.625 3.64062 12.1687 4.18437 12.6312C4.72812 13.0938 5.35 13.4375 6.05 13.6625ZM9.95 13.6625C10.65 13.4375 11.2719 13.0938 11.8156 12.6312C12.3594 12.1687 12.8125 11.625 13.175 11H10.9625C10.85 11.475 10.7094 11.9344 10.5406 12.3781C10.3719 12.8219 10.175 13.25 9.95 13.6625ZM2.1875 9.5H4.7375C4.7 9.25 4.67187 9.00312 4.65312 8.75937C4.63437 8.51562 4.625 8.2625 4.625 8C4.625 7.7375 4.63437 7.48437 4.65312 7.24062C4.67187 6.99687 4.7 6.75 4.7375 6.5H2.1875C2.125 6.75 2.07812 6.99687 2.04687 7.24062C2.01562 7.48437 2 7.7375 2 8C2 8.2625 2.01562 8.51562 2.04687 8.75937C2.07812 9.00312 2.125 9.25 2.1875 9.5ZM6.2375 9.5H9.7625C9.8 9.25 9.82812 9.00312 9.84687 8.75937C9.86562 8.51562 9.875 8.2625 9.875 8C9.875 7.7375 9.86562 7.48437 9.84687 7.24062C9.82812 6.99687 9.8 6.75 9.7625 6.5H6.2375C6.2 6.75 6.17187 6.99687 6.15312 7.24062C6.13437 7.48437 6.125 7.7375 6.125 8C6.125 8.2625 6.13437 8.51562 6.15312 8.75937C6.17187 9.00312 6.2 9.25 6.2375 9.5ZM11.2625 9.5H13.8125C13.875 9.25 13.9219 9.00312 13.9531 8.75937C13.9844 8.51562 14 8.2625 14 8C14 7.7375 13.9844 7.48437 13.9531 7.24062C13.9219 6.99687 13.875 6.75 13.8125 6.5H11.2625C11.3 6.75 11.3281 6.99687 11.3469 7.24062C11.3656 7.48437 11.375 7.7375 11.375 8C11.375 8.2625 11.3656 8.51562 11.3469 8.75937C11.3281 9.00312 11.3 9.25 11.2625 9.5ZM10.9625 5H13.175C12.8125 4.375 12.3594 3.83125 11.8156 3.36875C11.2719 2.90625 10.65 2.5625 9.95 2.3375C10.175 2.75 10.3719 3.17812 10.5406 3.62187C10.7094 4.06562 10.85 4.525 10.9625 5ZM6.575 5H9.425C9.275 4.45 9.08125 3.93125 8.84375 3.44375C8.60625 2.95625 8.325 2.4875 8 2.0375C7.675 2.4875 7.39375 2.95625 7.15625 3.44375C6.91875 3.93125 6.725 4.45 6.575 5ZM2.825 5H5.0375C5.15 4.525 5.29062 4.06562 5.45937 3.62187C5.62812 3.17812 5.825 2.75 6.05 2.3375C5.35 2.5625 4.72812 2.90625 4.18437 3.36875C3.64062 3.83125 3.1875 4.375 2.825 5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_util .search .search_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7 13.75L7.975 9.025C7.6 9.325 7.16875 9.5625 6.68125 9.7375C6.19375 9.9125 5.675 10 5.125 10C3.7625 10 2.60938 9.52812 1.66563 8.58438C0.721875 7.64062 0.25 6.4875 0.25 5.125C0.25 3.7625 0.721875 2.60938 1.66563 1.66563C2.60938 0.721875 3.7625 0.25 5.125 0.25C6.4875 0.25 7.64062 0.721875 8.58438 1.66563C9.52812 2.60938 10 3.7625 10 5.125C10 5.675 9.9125 6.19375 9.7375 6.68125C9.5625 7.16875 9.325 7.6 9.025 7.975L13.75 12.7L12.7 13.75ZM5.125 8.5C6.0625 8.5 6.85938 8.17188 7.51562 7.51562C8.17188 6.85938 8.5 6.0625 8.5 5.125C8.5 4.1875 8.17188 3.39062 7.51562 2.73438C6.85938 2.07812 6.0625 1.75 5.125 1.75C4.1875 1.75 3.39062 2.07812 2.73438 2.73438C2.07812 3.39062 1.75 4.1875 1.75 5.125C1.75 6.0625 2.07812 6.85938 2.73438 7.51562C3.39062 8.17188 4.1875 8.5 5.125 8.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 18.5645C0.716667 18.5645 0.479167 18.4686 0.2875 18.277C0.0958333 18.0853 0 17.8478 0 17.5645C0 17.2811 0.0958333 17.0436 0.2875 16.852C0.479167 16.6603 0.716667 16.5645 1 16.5645H17C17.2833 16.5645 17.5208 16.6603 17.7125 16.852C17.9042 17.0436 18 17.2811 18 17.5645C18 17.8478 17.9042 18.0853 17.7125 18.277C17.5208 18.4686 17.2833 18.5645 17 18.5645H1ZM1 10.5645C0.716667 10.5645 0.479167 10.4686 0.2875 10.277C0.0958333 10.0853 0 9.84779 0 9.56445C0 9.28112 0.0958333 9.04362 0.2875 8.85195C0.479167 8.66029 0.716667 8.56445 1 8.56445H17C17.2833 8.56445 17.5208 8.66029 17.7125 8.85195C17.9042 9.04362 18 9.28112 18 9.56445C18 9.84779 17.9042 10.0853 17.7125 10.277C17.5208 10.4686 17.2833 10.5645 17 10.5645H1ZM1 2.56445C0.716667 2.56445 0.479167 2.46862 0.2875 2.27695C0.0958333 2.08529 0 1.84779 0 1.56445C0 1.28112 0.0958333 1.04362 0.2875 0.851953C0.479167 0.660286 0.716667 0.564453 1 0.564453H17C17.2833 0.564453 17.5208 0.660286 17.7125 0.851953C17.9042 1.04362 18 1.28112 18 1.56445C18 1.84779 17.9042 2.08529 17.7125 2.27695C17.5208 2.46862 17.2833 2.56445 17 2.56445H1Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 18.5645C0.716667 18.5645 0.479167 18.4686 0.2875 18.277C0.0958333 18.0853 0 17.8478 0 17.5645C0 17.2811 0.0958333 17.0436 0.2875 16.852C0.479167 16.6603 0.716667 16.5645 1 16.5645H17C17.2833 16.5645 17.5208 16.6603 17.7125 16.852C17.9042 17.0436 18 17.2811 18 17.5645C18 17.8478 17.9042 18.0853 17.7125 18.277C17.5208 18.4686 17.2833 18.5645 17 18.5645H1ZM1 10.5645C0.716667 10.5645 0.479167 10.4686 0.2875 10.277C0.0958333 10.0853 0 9.84779 0 9.56445C0 9.28112 0.0958333 9.04362 0.2875 8.85195C0.479167 8.66029 0.716667 8.56445 1 8.56445H17C17.2833 8.56445 17.5208 8.66029 17.7125 8.85195C17.9042 9.04362 18 9.28112 18 9.56445C18 9.84779 17.9042 10.0853 17.7125 10.277C17.5208 10.4686 17.2833 10.5645 17 10.5645H1ZM1 2.56445C0.716667 2.56445 0.479167 2.46862 0.2875 2.27695C0.0958333 2.08529 0 1.84779 0 1.56445C0 1.28112 0.0958333 1.04362 0.2875 0.851953C0.479167 0.660286 0.716667 0.564453 1 0.564453H17C17.2833 0.564453 17.5208 0.660286 17.7125 0.851953C17.9042 1.04362 18 1.28112 18 1.56445C18 1.84779 17.9042 2.08529 17.7125 2.27695C17.5208 2.46862 17.2833 2.56445 17 2.56445H1Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: fixed;
        right: -100%;
        top: 0;
        width: calc(100% - 48px);
        max-width: 450px; /* 메뉴 열었을때 최대 450px로 안늘어나게 하는것*/
        height: 100%;
        background-color: #fff;
        color: var(--tit-color);
        transition: 0.5s;
        z-index: 10;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-h) 0 0 0; /* 마진 윗 여백 */
        padding: 0 20px; /* 좌우여백, 만약 선이 삐져나갔을경우 주면안됨 */
        height: calc(100% - var(--header-h));
        overflow-x: hidden; /* 좌우스크롤 없애기*/
        overflow-y: auto;
        border-top: 1px solid #EDEDED;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #EDEDED;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 1.25rem; /* 20px / 16 = 1.25rem , 폰트는 rem */
        font-weight: var(--bold-weight);
        color: var(--tit-color);
        line-height: var(--tit-line-height);
        padding: 0.75em; /* 15/20 , 0  / 15=여백 ,20 =글자크기 16으로 안주고 현재 글자크기로 계산 */
        position: relative; /* afer 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: 0;
        top: 1.25em; /* 25px/20  20 =글자크기*/
        width: 0.7em; /* 14/20  20 =글자크기*/
        height: 0.4em; /* 8/20  20 =글자크기*/
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99821 5.64975L11.8982 0.749748C12.0649 0.583081 12.2621 0.502526 12.4899 0.508081C12.7177 0.513637 12.9149 0.599748 13.0815 0.766415C13.2482 0.933081 13.3315 1.1303 13.3315 1.35808C13.3315 1.58586 13.2482 1.78308 13.0815 1.94975L7.94821 7.06641C7.81488 7.19975 7.66488 7.29975 7.49821 7.36641C7.33154 7.43308 7.16488 7.46641 6.99821 7.46641C6.83154 7.46641 6.66488 7.43308 6.49821 7.36641C6.33154 7.29975 6.18154 7.19975 6.04821 7.06641L0.914878 1.93308C0.748211 1.76641 0.667655 1.57197 0.673211 1.34975C0.678767 1.12753 0.764878 0.933081 0.931544 0.766414C1.09821 0.599747 1.29543 0.516414 1.52321 0.516414C1.75099 0.516414 1.94821 0.599747 2.11488 0.766414L6.99821 5.64975Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;

    }header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #EDEDED;
        border-radius: 0.62em; /*10 / 16*/
        margin: 0.81em 0 0 0; /* 13/16 */
        padding: 1.43em 1.25em;  /* 박스 내부여백 */
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        line-height: 1.7;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* gnb_wrap */
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99994 9.63327L2.28327 15.3499C2.06938 15.5638 1.79716 15.6708 1.4666 15.6708C1.13605 15.6708 0.863824 15.5638 0.649935 15.3499C0.436046 15.136 0.329102 14.8638 0.329102 14.5333C0.329102 14.2027 0.436046 13.9305 0.649935 13.7166L6.3666 7.99994L0.649935 2.28327C0.436046 2.06938 0.329102 1.79716 0.329102 1.4666C0.329102 1.13605 0.436046 0.863824 0.649935 0.649935C0.863824 0.436046 1.13605 0.329102 1.4666 0.329102C1.79716 0.329102 2.06938 0.436046 2.28327 0.649935L7.99994 6.3666L13.7166 0.649935C13.9305 0.436046 14.2027 0.329102 14.5333 0.329102C14.8638 0.329102 15.136 0.436046 15.3499 0.649935C15.5638 0.863824 15.6708 1.13605 15.6708 1.4666C15.6708 1.79716 15.5638 2.06938 15.3499 2.28327L9.63327 7.99994L15.3499 13.7166C15.5638 13.9305 15.6708 14.2027 15.6708 14.5333C15.6708 14.8638 15.5638 15.136 15.3499 15.3499C15.136 15.5638 14.8638 15.6708 14.5333 15.6708C14.2027 15.6708 13.9305 15.5638 13.7166 15.3499L7.99994 9.63327Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_bg {
        display: none;
        position: fixed; /* body를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    /**** 2차메뉴가 열였을때 ***/
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99821 5.64975L11.8982 0.749748C12.0649 0.583081 12.2621 0.502526 12.4899 0.508081C12.7177 0.513637 12.9149 0.599748 13.0815 0.766415C13.2482 0.933081 13.3315 1.1303 13.3315 1.35808C13.3315 1.58586 13.2482 1.78308 13.0815 1.94975L7.94821 7.06641C7.81488 7.19975 7.66488 7.29975 7.49821 7.36641C7.33154 7.43308 7.16488 7.46641 6.99821 7.46641C6.83154 7.46641 6.66488 7.43308 6.49821 7.36641C6.33154 7.29975 6.18154 7.19975 6.04821 7.06641L0.914878 1.93308C0.748211 1.76641 0.667655 1.57197 0.673211 1.34975C0.678767 1.12753 0.764878 0.933081 0.931544 0.766414C1.09821 0.599747 1.29543 0.516414 1.52321 0.516414C1.75099 0.516414 1.94821 0.599747 2.11488 0.766414L6.99821 5.64975Z' fill='%23AA1515'/%3E%3C/svg%3E%0A");
        transform: rotate(180deg); /* 위로 휙돌게할거임 */
    }

    /**** 메뉴가 열였을때 ***/
    header.menu_open .gnb  .gnb_util {
        display: flex; /* display : none 으로 숨긴거 나타나기 */
    }
    header.menu_open .gnb .gnb_wrap {
        right: 0;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .gnb .gnb_bg {
        display: block;
        animation-name: gnb_bg;
        animation-duration: 0.5s; /* 몇초 */
        animation-iteration-count: 1; /* 한번만 */
        animation-fill-mode: forwards;

    }
    @keyframes gnb_bg {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}/*@media*/

footer {
    background-color: var(--tit-color);
    color: #fff;
    padding: 5.64em 0 6em 0; /*96/17 102/17 */
    position: relative; /* top버튼 정렬의 기준 */
}
footer .top {
    position: absolute; /*footer*/
    right: 1.76em; /* 30/17*/
    top: 0.76em; /* 13/17 */
    background-color: var(--point-color);
    border-radius: 50%;
    padding: 10px 0 0 0;
    color: #fff;
    width: 54px;
    height: 54px;
    text-align: center;
}
footer .top::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 4px; 
    width: 0.82em;
    height: 0.82em;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.83317 13.667L7.83317 3.52116L12.4998 8.18783L13.6665 7.00033L6.99984 0.333659L0.333171 7.00032L1.49984 8.18782L6.1665 3.52116L6.1665 13.667L7.83317 13.667Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .wrapper {
    display: flex;
    flex-direction: row-reverse; /* 좌우 반대 */
    justify-content: space-between;
    align-items: flex-start; /*family_site를 안늘어나게 하려고 */
}
footer .family_site {
    position: relative; /* ul정렬의 기준점 */
}
footer .family_site .family_open {
    display: block;
    border: 1px solid #fff;
    padding: 0.47em 2.70em 0 1.11em ; /* 8/17 46/17  19/17 , 밑여백을 0주고 height높이로 줘서
    family_site ul의 높이 맞추기 */
    height: 2.47em; /*42px/17*/
    position: relative; /*after 정렬의 기준 */
}
footer .family_site .family_open::after {
    content: "";
    position: absolute;
    right: 13px;
    top: 16px;
    width: 0.82em;
    height: 0.47em;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.0018 2.35026L2.10179 7.25025C1.93512 7.41692 1.7379 7.49747 1.51012 7.49192C1.28235 7.48636 1.08512 7.40025 0.918457 7.23359C0.75179 7.06692 0.668457 6.8697 0.668457 6.64192C0.668457 6.41414 0.75179 6.21692 0.918457 6.05025L6.05179 0.93359C6.18513 0.800257 6.33513 0.700257 6.50179 0.63359C6.66846 0.566924 6.83513 0.533591 7.0018 0.533591C7.16846 0.533591 7.33513 0.566924 7.5018 0.63359C7.66846 0.700257 7.81846 0.800257 7.9518 0.93359L13.0851 6.06692C13.2518 6.23359 13.3324 6.42803 13.3268 6.65025C13.3212 6.87247 13.2351 7.06692 13.0685 7.23359C12.9018 7.40025 12.7046 7.48359 12.4768 7.48359C12.249 7.48359 12.0518 7.40025 11.8851 7.23359L7.0018 2.35026Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
footer .family_site ul {
    display: none;
    position: absolute; /*family_site 정렬의 기준점*/
    left: 0;
    bottom: 2.47em; /*family_open에서 height 높이를 준만큼 */
    width: 100%;
    background-color: #4E4E4E;
    padding: 1em 0 1em 1.35em;
}
footer .family_site ul li a {
    display: block;
    line-height: 1.7;
}
footer .f_nav ul {
    display: flex;
    gap: 0.2em 2.52em; /*43/17*/
    flex-wrap: wrap; /*여러줄 허용 */
}
footer .f_nav ul li {
    position: relative; /* after 정렬의 기준 */
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -1.29em; /* gap의 절반정도 */
    top: 0.4em;
    width: 1px;
    height: 0.64em;
    background-color: rgba(255,255,255,0.2);
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_info {
    margin: 2.35em 0 3.41em 0; 
}
footer .f_info span {
    margin-right: 2.23em; /*오른쪽의 여백 , 38/17*/
    display: inline-block; /* 기존과 동일하지만 줄이 떨어질때는 한뭉탱이로 잡음*/
}
footer .copyright {
    color: rgba(255,255,255,0.7);
}
@media screen and (max-width:1024px) {
    footer {
        padding: 5.25em 0 4.93em 0; /*84/16 79/16 */
    }
    footer .top {
        position: absolute; /*footer*/
        right: 1.76em; /* 30/17*/
        top: -0.25em; /* 13/17 */
        transform: translateY(-50%);
    }
    footer .wrapper {
        display: block;
    }
    footer .family_site {
        position: relative; /* ul정렬의 기준점 */
        margin: 0 0 2.81em 0;
    }
    footer .family_site .family_open {
        width: 100%;
        max-width: 300px;
        position: relative; /* after 정렬의 기준 */
    }

}