/* header 와 footer 같이 모든 페이지 공통사항 저장 */
header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    display: flex; /* logo , gnb , util 좌우배치 */
    justify-content: space-between; /* 양쪽끝*/
    align-items: center; /* 가운데정렬 */
    color: #fff;
    transition: top 0.5s; /*top만 부드럽게*/
}
header .logo a {
    display: block;
    height: 3.41em;  /*58/17 =3.41*/
    width: 10.29em; /* 175/17 =10.29*/
    background: url(../images/common/logo_w.svg) no-repeat center center / contain ;
    margin-bottom: 20px; /* 너무 밑으로 내려가있어서 올려줌 */
}


header .util {
    display: flex;
    gap: 25px;
}
header .util .lang .lang_open,
header .util .search .search_open {
    padding: 0 0 0 1.31em;
    position: relative; /* before 정렬의 기준 */
}
header .util .lang .lang_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.23em; /* 4/17 */
    width: 1.05em; /* 18/17 = 1.05 */
    height: 1.05em;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99984 17.3337C7.86095 17.3337 6.78456 17.1149 5.77067 16.6774C4.75678 16.2399 3.87136 15.6427 3.11442 14.8857C2.35748 14.1288 1.76025 13.2434 1.32275 12.2295C0.885254 11.2156 0.666504 10.1392 0.666504 9.00033C0.666504 7.84755 0.885254 6.76769 1.32275 5.76074C1.76025 4.7538 2.35748 3.87185 3.11442 3.11491C3.87136 2.35796 4.75678 1.76074 5.77067 1.32324C6.78456 0.885742 7.86095 0.666992 8.99984 0.666992C10.1526 0.666992 11.2325 0.885742 12.2394 1.32324C13.2464 1.76074 14.1283 2.35796 14.8853 3.11491C15.6422 3.87185 16.2394 4.7538 16.6769 5.76074C17.1144 6.76769 17.3332 7.84755 17.3332 9.00033C17.3332 10.1392 17.1144 11.2156 16.6769 12.2295C16.2394 13.2434 15.6422 14.1288 14.8853 14.8857C14.1283 15.6427 13.2464 16.2399 12.2394 16.6774C11.2325 17.1149 10.1526 17.3337 8.99984 17.3337ZM8.99984 15.6253C9.36095 15.1253 9.67345 14.6045 9.93734 14.0628C10.2012 13.5212 10.4165 12.9448 10.5832 12.3337H7.4165C7.58317 12.9448 7.79845 13.5212 8.06234 14.0628C8.32623 14.6045 8.63873 15.1253 8.99984 15.6253ZM6.83317 15.292C6.58317 14.8337 6.36442 14.358 6.17692 13.8649C5.98942 13.3719 5.83317 12.8614 5.70817 12.3337H3.24984C3.65262 13.0281 4.15609 13.6323 4.76025 14.1462C5.36442 14.66 6.05539 15.042 6.83317 15.292ZM11.1665 15.292C11.9443 15.042 12.6353 14.66 13.2394 14.1462C13.8436 13.6323 14.3471 13.0281 14.7498 12.3337H12.2915C12.1665 12.8614 12.0103 13.3719 11.8228 13.8649C11.6353 14.358 11.4165 14.8337 11.1665 15.292ZM2.5415 10.667H5.37484C5.33317 10.3892 5.30192 10.1149 5.28109 9.84408C5.26025 9.57324 5.24984 9.29199 5.24984 9.00033C5.24984 8.70866 5.26025 8.42741 5.28109 8.15658C5.30192 7.88574 5.33317 7.61144 5.37484 7.33366H2.5415C2.47206 7.61144 2.41998 7.88574 2.38525 8.15658C2.35053 8.42741 2.33317 8.70866 2.33317 9.00033C2.33317 9.29199 2.35053 9.57324 2.38525 9.84408C2.41998 10.1149 2.47206 10.3892 2.5415 10.667ZM7.0415 10.667H10.9582C10.9998 10.3892 11.0311 10.1149 11.0519 9.84408C11.0728 9.57324 11.0832 9.29199 11.0832 9.00033C11.0832 8.70866 11.0728 8.42741 11.0519 8.15658C11.0311 7.88574 10.9998 7.61144 10.9582 7.33366H7.0415C6.99984 7.61144 6.96859 7.88574 6.94775 8.15658C6.92692 8.42741 6.9165 8.70866 6.9165 9.00033C6.9165 9.29199 6.92692 9.57324 6.94775 9.84408C6.96859 10.1149 6.99984 10.3892 7.0415 10.667ZM12.6248 10.667H15.4582C15.5276 10.3892 15.5797 10.1149 15.6144 9.84408C15.6491 9.57324 15.6665 9.29199 15.6665 9.00033C15.6665 8.70866 15.6491 8.42741 15.6144 8.15658C15.5797 7.88574 15.5276 7.61144 15.4582 7.33366H12.6248C12.6665 7.61144 12.6978 7.88574 12.7186 8.15658C12.7394 8.42741 12.7498 8.70866 12.7498 9.00033C12.7498 9.29199 12.7394 9.57324 12.7186 9.84408C12.6978 10.1149 12.6665 10.3892 12.6248 10.667ZM12.2915 5.66699H14.7498C14.3471 4.97255 13.8436 4.36838 13.2394 3.85449C12.6353 3.3406 11.9443 2.95866 11.1665 2.70866C11.4165 3.16699 11.6353 3.64269 11.8228 4.13574C12.0103 4.6288 12.1665 5.13921 12.2915 5.66699ZM7.4165 5.66699H10.5832C10.4165 5.05588 10.2012 4.47949 9.93734 3.93783C9.67345 3.39616 9.36095 2.87533 8.99984 2.37533C8.63873 2.87533 8.32623 3.39616 8.06234 3.93783C7.79845 4.47949 7.58317 5.05588 7.4165 5.66699ZM3.24984 5.66699H5.70817C5.83317 5.13921 5.98942 4.6288 6.17692 4.13574C6.36442 3.64269 6.58317 3.16699 6.83317 2.70866C6.05539 2.95866 5.36442 3.3406 4.76025 3.85449C4.15609 4.36838 3.65262 4.97255 3.24984 5.66699Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

header .util .search .search_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.29em; /* 5/17*/
    width: 0.94em; /* 16/17 = 1.05 */
    height: 0.94em;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 15.5L9.08333 10.25C8.66667 10.5833 8.1875 10.8472 7.64583 11.0417C7.10417 11.2361 6.52778 11.3333 5.91667 11.3333C4.40278 11.3333 3.12153 10.809 2.07292 9.76042C1.02431 8.71181 0.5 7.43056 0.5 5.91667C0.5 4.40278 1.02431 3.12153 2.07292 2.07292C3.12153 1.02431 4.40278 0.5 5.91667 0.5C7.43056 0.5 8.71181 1.02431 9.76042 2.07292C10.809 3.12153 11.3333 4.40278 11.3333 5.91667C11.3333 6.52778 11.2361 7.10417 11.0417 7.64583C10.8472 8.1875 10.5833 8.66667 10.25 9.08333L15.5 14.3333L14.3333 15.5ZM5.91667 9.66667C6.95833 9.66667 7.84375 9.30208 8.57292 8.57292C9.30208 7.84375 9.66667 6.95833 9.66667 5.91667C9.66667 4.875 9.30208 3.98958 8.57292 3.26042C7.84375 2.53125 6.95833 2.16667 5.91667 2.16667C4.875 2.16667 3.98958 2.53125 3.26042 3.26042C2.53125 3.98958 2.16667 4.875 2.16667 5.91667C2.16667 6.95833 2.53125 7.84375 3.26042 8.57292C3.98958 9.30208 4.875 9.66667 5.91667 9.66667Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/****************아래로 스크롤 내릴떄 header가 사라짐 *********************/
header.fixed.gnb_up {
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0;
}
/****************header에 fixed 클래스 추가 *********************/

header.fixed,
header.menu_over {
    background-color: #fff;
    color: var(--tit-color);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1); /* 헤더 그림자 */
}

header.fixed .logo a,
header.menu_over .logo a {
    background: url(../images/common/logo_w.svg) no-repeat center center / contain ;
    background-image: url(../images/common/logo.svg);
}

header.fixed .util .lang .lang_open::before,
header.menu_over .util .lang .lang_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99984 17.3337C7.86095 17.3337 6.78456 17.1149 5.77067 16.6774C4.75678 16.2399 3.87136 15.6427 3.11442 14.8857C2.35748 14.1288 1.76025 13.2434 1.32275 12.2295C0.885254 11.2156 0.666504 10.1392 0.666504 9.00033C0.666504 7.84755 0.885254 6.76769 1.32275 5.76074C1.76025 4.7538 2.35748 3.87185 3.11442 3.11491C3.87136 2.35796 4.75678 1.76074 5.77067 1.32324C6.78456 0.885742 7.86095 0.666992 8.99984 0.666992C10.1526 0.666992 11.2325 0.885742 12.2394 1.32324C13.2464 1.76074 14.1283 2.35796 14.8853 3.11491C15.6422 3.87185 16.2394 4.7538 16.6769 5.76074C17.1144 6.76769 17.3332 7.84755 17.3332 9.00033C17.3332 10.1392 17.1144 11.2156 16.6769 12.2295C16.2394 13.2434 15.6422 14.1288 14.8853 14.8857C14.1283 15.6427 13.2464 16.2399 12.2394 16.6774C11.2325 17.1149 10.1526 17.3337 8.99984 17.3337ZM8.99984 15.6253C9.36095 15.1253 9.67345 14.6045 9.93734 14.0628C10.2012 13.5212 10.4165 12.9448 10.5832 12.3337H7.4165C7.58317 12.9448 7.79845 13.5212 8.06234 14.0628C8.32623 14.6045 8.63873 15.1253 8.99984 15.6253ZM6.83317 15.292C6.58317 14.8337 6.36442 14.358 6.17692 13.8649C5.98942 13.3719 5.83317 12.8614 5.70817 12.3337H3.24984C3.65262 13.0281 4.15609 13.6323 4.76025 14.1462C5.36442 14.66 6.05539 15.042 6.83317 15.292ZM11.1665 15.292C11.9443 15.042 12.6353 14.66 13.2394 14.1462C13.8436 13.6323 14.3471 13.0281 14.7498 12.3337H12.2915C12.1665 12.8614 12.0103 13.3719 11.8228 13.8649C11.6353 14.358 11.4165 14.8337 11.1665 15.292ZM2.5415 10.667H5.37484C5.33317 10.3892 5.30192 10.1149 5.28109 9.84408C5.26025 9.57324 5.24984 9.29199 5.24984 9.00033C5.24984 8.70866 5.26025 8.42741 5.28109 8.15658C5.30192 7.88574 5.33317 7.61144 5.37484 7.33366H2.5415C2.47206 7.61144 2.41998 7.88574 2.38525 8.15658C2.35053 8.42741 2.33317 8.70866 2.33317 9.00033C2.33317 9.29199 2.35053 9.57324 2.38525 9.84408C2.41998 10.1149 2.47206 10.3892 2.5415 10.667ZM7.0415 10.667H10.9582C10.9998 10.3892 11.0311 10.1149 11.0519 9.84408C11.0728 9.57324 11.0832 9.29199 11.0832 9.00033C11.0832 8.70866 11.0728 8.42741 11.0519 8.15658C11.0311 7.88574 10.9998 7.61144 10.9582 7.33366H7.0415C6.99984 7.61144 6.96859 7.88574 6.94775 8.15658C6.92692 8.42741 6.9165 8.70866 6.9165 9.00033C6.9165 9.29199 6.92692 9.57324 6.94775 9.84408C6.96859 10.1149 6.99984 10.3892 7.0415 10.667ZM12.6248 10.667H15.4582C15.5276 10.3892 15.5797 10.1149 15.6144 9.84408C15.6491 9.57324 15.6665 9.29199 15.6665 9.00033C15.6665 8.70866 15.6491 8.42741 15.6144 8.15658C15.5797 7.88574 15.5276 7.61144 15.4582 7.33366H12.6248C12.6665 7.61144 12.6978 7.88574 12.7186 8.15658C12.7394 8.42741 12.7498 8.70866 12.7498 9.00033C12.7498 9.29199 12.7394 9.57324 12.7186 9.84408C12.6978 10.1149 12.6665 10.3892 12.6248 10.667ZM12.2915 5.66699H14.7498C14.3471 4.97255 13.8436 4.36838 13.2394 3.85449C12.6353 3.3406 11.9443 2.95866 11.1665 2.70866C11.4165 3.16699 11.6353 3.64269 11.8228 4.13574C12.0103 4.6288 12.1665 5.13921 12.2915 5.66699ZM7.4165 5.66699H10.5832C10.4165 5.05588 10.2012 4.47949 9.93734 3.93783C9.67345 3.39616 9.36095 2.87533 8.99984 2.37533C8.63873 2.87533 8.32623 3.39616 8.06234 3.93783C7.79845 4.47949 7.58317 5.05588 7.4165 5.66699ZM3.24984 5.66699H5.70817C5.83317 5.13921 5.98942 4.6288 6.17692 4.13574C6.36442 3.64269 6.58317 3.16699 6.83317 2.70866C6.05539 2.95866 5.36442 3.3406 4.76025 3.85449C4.15609 4.36838 3.65262 4.97255 3.24984 5.66699Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}

header.fixed .util .search .search_open::before,
header.menu_over .util .search .search_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 15.5L9.08333 10.25C8.66667 10.5833 8.1875 10.8472 7.64583 11.0417C7.10417 11.2361 6.52778 11.3333 5.91667 11.3333C4.40278 11.3333 3.12153 10.809 2.07292 9.76042C1.02431 8.71181 0.5 7.43056 0.5 5.91667C0.5 4.40278 1.02431 3.12153 2.07292 2.07292C3.12153 1.02431 4.40278 0.5 5.91667 0.5C7.43056 0.5 8.71181 1.02431 9.76042 2.07292C10.809 3.12153 11.3333 4.40278 11.3333 5.91667C11.3333 6.52778 11.2361 7.10417 11.0417 7.64583C10.8472 8.1875 10.5833 8.66667 10.25 9.08333L15.5 14.3333L14.3333 15.5ZM5.91667 9.66667C6.95833 9.66667 7.84375 9.30208 8.57292 8.57292C9.30208 7.84375 9.66667 6.95833 9.66667 5.91667C9.66667 4.875 9.30208 3.98958 8.57292 3.26042C7.84375 2.53125 6.95833 2.16667 5.91667 2.16667C4.875 2.16667 3.98958 2.53125 3.26042 3.26042C2.53125 3.98958 2.16667 4.875 2.16667 5.91667C2.16667 6.95833 2.53125 7.84375 3.26042 8.57292C3.98958 9.30208 4.875 9.66667 5.91667 9.66667Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px) {
    header .gnb .gnb_util,
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* 모바일에서만 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7.76em; /* 메뉴 네모박스 너비 132 / 17 = 7.76 */
        text-align: center;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h); /* 행간의 높이 = 헤더사이즈 */
        font-size: 1.29rem; /* 22pt / 17 = 1.29rem , 폰트는 rem*/
        font-weight: var(--bold-weight); /* 두께 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--point-color);

    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative; /* after정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.7em;
        width: 100%;
        height: 3PX;
        background-color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute; /* li를 기준으로 정렬 */
        left: 0;
        top: var(--header-h); /* header 높이값 */
        width: 100%; /* ul.depth2의 너비가 작아서 100% 넣어줘야함 그래야 가운데로 정렬됨 */
        padding: 29px 0 0 0; /*ul.depth2 윗여백 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--base-color);
        line-height: 1.7;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--bold-weight);
        color: var(--point-color);
    }

    /************** menu_over 추가시 *******************/

    header.menu_over::before {
        content: "";
        position: absolute; /* header를 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: -1; /* header 안에 있는 요소들중에 맨 아래임 하지만
                        header에 배경색을 줘도 그거보다는 위에 존재함 -> 박스쉐도우 다시줘야함  */
        width: 100%;
        height: 19.35em;/* 329px(박스높이값) / 17 = 19.35 */
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1); /* 헤더 그림자 */
    }
    header.menu_over::after {
        /* header 밑선 */
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #EDEDED;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block; /* 나타남 */
    }

}/*@media*/

@media screen and (min-width:1025px) and (max-width:1300px) {
    /* 브라우저 1300 ~ 1024사이 일때 */
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7em; /* 메뉴 좀 버티게 메뉴너비 줄임 */
    }
}/*@media*/


@media screen and (max-width:1024px) { /* 모바일 */

    header {
        padding: 0 0 0 20px; /* 왼쪽만 20px 여백 */
    }
    
    header .logo a {
        height: 1.81em; 
        width: 5.5em;
        margin-bottom: 3px;
    }
    header .util {
        display: none;
        gap: 11px;
    }
    header .gnb .gnb_util {
        display: none;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 18.5645C0.716667 18.5645 0.479167 18.4686 0.2875 18.277C0.0958333 18.0853 0 17.8478 0 17.5645C0 17.2811 0.0958333 17.0436 0.2875 16.852C0.479167 16.6603 0.716667 16.5645 1 16.5645H17C17.2833 16.5645 17.5208 16.6603 17.7125 16.852C17.9042 17.0436 18 17.2811 18 17.5645C18 17.8478 17.9042 18.0853 17.7125 18.277C17.5208 18.4686 17.2833 18.5645 17 18.5645H1ZM1 10.5645C0.716667 10.5645 0.479167 10.4686 0.2875 10.277C0.0958333 10.0853 0 9.84779 0 9.56445C0 9.28112 0.0958333 9.04362 0.2875 8.85195C0.479167 8.66029 0.716667 8.56445 1 8.56445H17C17.2833 8.56445 17.5208 8.66029 17.7125 8.85195C17.9042 9.04362 18 9.28112 18 9.56445C18 9.84779 17.9042 10.0853 17.7125 10.277C17.5208 10.4686 17.2833 10.5645 17 10.5645H1ZM1 2.56445C0.716667 2.56445 0.479167 2.46862 0.2875 2.27695C0.0958333 2.08529 0 1.84779 0 1.56445C0 1.28112 0.0958333 1.04362 0.2875 0.851953C0.479167 0.660286 0.716667 0.564453 1 0.564453H17C17.2833 0.564453 17.5208 0.660286 17.7125 0.851953C17.9042 1.04362 18 1.28112 18 1.56445C18 1.84779 17.9042 2.08529 17.7125 2.27695C17.5208 2.46862 17.2833 2.56445 17 2.56445H1Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 18.5645C0.716667 18.5645 0.479167 18.4686 0.2875 18.277C0.0958333 18.0853 0 17.8478 0 17.5645C0 17.2811 0.0958333 17.0436 0.2875 16.852C0.479167 16.6603 0.716667 16.5645 1 16.5645H17C17.2833 16.5645 17.5208 16.6603 17.7125 16.852C17.9042 17.0436 18 17.2811 18 17.5645C18 17.8478 17.9042 18.0853 17.7125 18.277C17.5208 18.4686 17.2833 18.5645 17 18.5645H1ZM1 10.5645C0.716667 10.5645 0.479167 10.4686 0.2875 10.277C0.0958333 10.0853 0 9.84779 0 9.56445C0 9.28112 0.0958333 9.04362 0.2875 8.85195C0.479167 8.66029 0.716667 8.56445 1 8.56445H17C17.2833 8.56445 17.5208 8.66029 17.7125 8.85195C17.9042 9.04362 18 9.28112 18 9.56445C18 9.84779 17.9042 10.0853 17.7125 10.277C17.5208 10.4686 17.2833 10.5645 17 10.5645H1ZM1 2.56445C0.716667 2.56445 0.479167 2.46862 0.2875 2.27695C0.0958333 2.08529 0 1.84779 0 1.56445C0 1.28112 0.0958333 1.04362 0.2875 0.851953C0.479167 0.660286 0.716667 0.564453 1 0.564453H17C17.2833 0.564453 17.5208 0.660286 17.7125 0.851953C17.9042 1.04362 18 1.28112 18 1.56445C18 1.84779 17.9042 2.08529 17.7125 2.27695C17.5208 2.46862 17.2833 2.56445 17 2.56445H1Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: fixed;
        right: -100%;
        top: 0;
        width: calc(100% - 48px);
        height: 100%;
        background-color: #fff;
        color: var(--tit-color);
        transition: 0.5s;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* gnb_wrap */
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99994 9.63327L2.28327 15.3499C2.06938 15.5638 1.79716 15.6708 1.4666 15.6708C1.13605 15.6708 0.863824 15.5638 0.649935 15.3499C0.436046 15.136 0.329102 14.8638 0.329102 14.5333C0.329102 14.2027 0.436046 13.9305 0.649935 13.7166L6.3666 7.99994L0.649935 2.28327C0.436046 2.06938 0.329102 1.79716 0.329102 1.4666C0.329102 1.13605 0.436046 0.863824 0.649935 0.649935C0.863824 0.436046 1.13605 0.329102 1.4666 0.329102C1.79716 0.329102 2.06938 0.436046 2.28327 0.649935L7.99994 6.3666L13.7166 0.649935C13.9305 0.436046 14.2027 0.329102 14.5333 0.329102C14.8638 0.329102 15.136 0.436046 15.3499 0.649935C15.5638 0.863824 15.6708 1.13605 15.6708 1.4666C15.6708 1.79716 15.5638 2.06938 15.3499 2.28327L9.63327 7.99994L15.3499 13.7166C15.5638 13.9305 15.6708 14.2027 15.6708 14.5333C15.6708 14.8638 15.5638 15.136 15.3499 15.3499C15.136 15.5638 14.8638 15.6708 14.5333 15.6708C14.2027 15.6708 13.9305 15.5638 13.7166 15.3499L7.99994 9.63327Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }

    /**** 메뉴가 열였을때 ***/
    header.menu_open .gnb .gnb_wrap {
        right: 0;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
}/*@media*/

footer {
    margin: 1500px 0 0 0; 
}