@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /* ctrl_wrap ,scroll_down 정렬의 기준 */
}

.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
    min-height: 29.41em; /* 500px /17 =29.41 , 브라우저 줄였을때 최소높이*/ 
}
.visual .swiper-slide .photo img {
    /* 이미지에 맞게 알아서 들어가라 */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.visual .swiper-slide .txt_wrap {
    position: absolute; /* swiper-slide기준의 정렬, 위로 올라가야되서 absolute */
    left: 0;
    bottom: 22.7%; 
    width: 100%;
}
.visual .swiper-slide .txt_wrap .txt.mobile {
    display: none;
}
.visual .swiper-slide .txt_wrap .txt {
    overflow: hidden;
}
.visual .swiper-slide .txt_wrap .txt p {
    color: #fff;
    font-size: 4.12rem;/* 70/17 =4.12 */
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    white-space: nowrap; /*1줄로 제한,  빠꼼하고 올라오는 애니메이션 할때 1줄로 해야함*/

    transform: translateY(100%);
    /* transform: translateY(50%);  100% -> 0으로 애니메이션 */
    transition: 1s;
    transition-delay: 1.5s;
}

.visual .swiper-slide .txt_wrap .txt.delay1 p {
    transition-delay: 1s;
}
.visual .swiper-slide .txt_wrap .txt.delay2 p {
    transition-delay: 1.2s;
}
.visual .swiper-slide .txt_wrap .txt.delay3 p {
    transition-delay: 1.2s;
}

.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0);
    /* animation-name: visual_txt;
    animation-duration: 0.5s; 
    animation-iteration-count: 1; 
    animation-delay: 1s;
    animation-fill-mode: forwards; */
}
@keyframes visual_txt {
    0% { transform: translateY(100%); }
    100% {transform: translateY(0); }
}

.visual .ctrl_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px ); /* 630 = 1260절반 */
    bottom: 17.1%; /* 231px(밑여백) / 1000px(브라우저높이) *100 = 23.1 이지만
    브라우저에서 보니까 너무 위로 올라가서 브라우저에서 사이즈 맞춤*/
    z-index: 10;
    display: flex; /* 네모박스 달라붙게 */
}
.visual .ctrl_wrap button {
    border: 1px solid #fff;
    border-left-width: 0; /*네모박스 왼쪽 선이 없어짐 */
    width: 1.76em; /* 30px /17 = 1.76 */
    height: 1.76em; /* 30px /17 = 1.76 */
    background-repeat: no-repeat;
    background-position: center center;
}
.visual .ctrl_wrap button:first-child {
    border-left-width: 1px; /*네모박스 왼쪽 선 주기*/
}
.visual .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_501' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect x='20' y='20' width='20' height='20' transform='rotate(-180 20 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_501)'%3E%3Cpath d='M7.93782 9.99837L14.0628 16.1234C14.2711 16.3317 14.3718 16.5782 14.3649 16.863C14.358 17.1477 14.2503 17.3942 14.042 17.6025C13.8336 17.8109 13.5871 17.915 13.3024 17.915C13.0177 17.915 12.7711 17.8109 12.5628 17.6025L6.16699 11.1859C6.00032 11.0192 5.87532 10.8317 5.79199 10.6234C5.70865 10.415 5.66699 10.2067 5.66699 9.99837C5.66699 9.79003 5.70865 9.5817 5.79199 9.37337C5.87532 9.16503 6.00032 8.97753 6.16699 8.81087L12.5837 2.3942C12.792 2.18586 13.035 2.08517 13.3128 2.09211C13.5906 2.09906 13.8337 2.2067 14.042 2.41503C14.2503 2.62336 14.3545 2.86989 14.3545 3.15462C14.3545 3.43934 14.2503 3.68587 14.042 3.8942L7.93782 9.99837Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_492' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_492)'%3E%3Cpath d='M12.0622 10.0016L5.93718 3.87663C5.72885 3.6683 5.62816 3.42177 5.6351 3.13704C5.64205 2.85232 5.74968 2.60579 5.95802 2.39746C6.16635 2.18913 6.41288 2.08496 6.6976 2.08496C6.98232 2.08496 7.22885 2.18913 7.43718 2.39746L13.833 8.81413C13.9997 8.9808 14.1247 9.1683 14.208 9.37663C14.2913 9.58497 14.333 9.7933 14.333 10.0016C14.333 10.21 14.2913 10.4183 14.208 10.6266C14.1247 10.835 13.9997 11.0225 13.833 11.1891L7.41635 17.6058C7.20801 17.8141 6.96496 17.9148 6.68718 17.9079C6.4094 17.9009 6.16635 17.7933 5.95801 17.585C5.74968 17.3766 5.64552 17.1301 5.64552 16.8454C5.64552 16.5607 5.74968 16.3141 5.95802 16.1058L12.0622 10.0016Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_498' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_498)'%3E%3Cpath d='M13.3333 15.8327C12.875 15.8327 12.4826 15.6695 12.1563 15.3431C11.8299 15.0167 11.6667 14.6243 11.6667 14.166V5.83268C11.6667 5.37435 11.8299 4.98199 12.1563 4.6556C12.4826 4.32921 12.875 4.16602 13.3333 4.16602C13.7917 4.16602 14.184 4.32921 14.5104 4.6556C14.8368 4.98199 15 5.37435 15 5.83268V14.166C15 14.6243 14.8368 15.0167 14.5104 15.3431C14.184 15.6695 13.7917 15.8327 13.3333 15.8327ZM6.66667 15.8327C6.20833 15.8327 5.81597 15.6695 5.48958 15.3431C5.16319 15.0167 5 14.6243 5 14.166V5.83268C5 5.37435 5.16319 4.98199 5.48958 4.6556C5.81597 4.32921 6.20833 4.16602 6.66667 4.16602C7.125 4.16602 7.51736 4.32921 7.84375 4.6556C8.17014 4.98199 8.33333 5.37435 8.33333 5.83268V14.166C8.33333 14.6243 8.17014 15.0167 7.84375 15.3431C7.51736 15.6695 7.125 15.8327 6.66667 15.8327Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_507' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect x='20' y='20' width='20' height='20' transform='rotate(-180 20 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_507)'%3E%3Cpath d='M14.7285 9.29134C14.8535 9.37467 14.9473 9.47884 15.0098 9.60384C15.0723 9.72884 15.1035 9.86079 15.1035 9.99967C15.1035 10.1386 15.0723 10.2705 15.0098 10.3955C14.9473 10.5205 14.8535 10.6247 14.7285 10.708L7.93685 15.0205C7.8674 15.0622 7.79449 15.0934 7.7181 15.1143C7.64171 15.1351 7.56879 15.1455 7.49935 15.1455C7.27713 15.1455 7.08268 15.0656 6.91602 14.9059C6.74935 14.7462 6.66602 14.5483 6.66602 14.3122L6.66602 5.68717C6.66602 5.45106 6.74935 5.25315 6.91602 5.09342C7.08268 4.9337 7.27713 4.85384 7.49935 4.85384C7.56879 4.85384 7.64171 4.86426 7.7181 4.88509C7.79449 4.90592 7.86741 4.93717 7.93685 4.97884L14.7285 9.29134Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .scroll_down {
    position: absolute; /* visual을 기준으로 정렬 */
    /* 가운데 정렬 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 4.9%; /* 헤더 브라우저 높이 1000px 에서 49px = 4.9 */
    z-index: 10;
    color: #fff;
}
.visual .scroll_down::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2em;
    height: 0.47em ; /*8/17 = 0.47*/
    width: 0.76em; /*13/17 =0.76 */
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.75 1.75L6.5 8L0.25 1.75L1.35937 0.640624L6.5 5.78125L11.6406 0.640624L12.75 1.75Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    animation-name: scroll_down;
    animation-duration: 2s; /* 몇초*/
    animation-iteration-count: infinite; /* 왔다갔다 */
    animation-timing-function: linear; /* 빠르기 좀 조절 */
}

@keyframes scroll_down {
    0%{top: 1.5em;} /* 브라우저가서 조절하기 */
    50%{top: 3em;}
    100%{top: 1.5em;}
}



@media screen and (max-width:1300px) {
    .visual .ctrl_wrap {
        /*브라우저가 줄어들때 따라오게 하는법
        common.css에서 1300px 모바일 wrapper의 margin 여백과 똑같이 주면됨 */
        left: 20px 
    }
}
@media screen and (max-width:1024px) {
    /* .visual .swiper-slide .txt_wrap .txt.mobile {
    display: block; 
    }
    .visual .swiper-slide .txt_wrap .txt.pc {
    display: none; 
    }*/
    .visual .swiper-slide .txt_wrap .txt p {
        font-size: 3.2rem ; /* 1025와 768(모바일) 중간의 글자크기의 중간사이즈로 바꿔줌 */
    }
}
@media screen and (max-width:768px) {
    
    .visual .swiper-slide .photo {
        min-height: 29.41em; /* ????? 브라우저 줄였을때 최소높이*/ 
    }
    .visual .swiper-slide.swiper-slide-active .photo img {
        transform: scale3d(1, 1, 1); /* 1로 다 줘버리면 애니메이션 안일어남*/
    }
    .visual .swiper-slide .txt_wrap {
        bottom: 17.75%; /* 142 / 800 * 100 = */
    }
    .visual .swiper-slide .txt_wrap .txt.mobile {
        display: block;
    }
    .visual .swiper-slide .txt_wrap .txt.pc {
        display: none;
    }
    .visual .swiper-slide .txt_wrap .txt {
        margin: 5px 0;
    }
    .visual .swiper-slide .txt_wrap .txt p {
        font-size: 2.37rem;/* 38/16 =2.37 */
    }
    .visual .ctrl_wrap {
        bottom: 11.12%; /* 89(여백) / 800(헤더 브라우저높이) *100 =11.12 */
        z-index: 10;
        display: flex; /* 네모박스 달라붙게 */
    }
    .visual .ctrl_wrap button {
        border-left-width: 1px; /*네모박스 왼쪽 선이 없어지는거 다시 나오게 */
    }
    .visual .ctrl_wrap button.btn_prev {
        display: none;
    }
    .visual .ctrl_wrap button.btn_next {
        display: none;
    }
    .visual .ctrl_wrap button.btn_stop {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_498' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_498)'%3E%3Cpath d='M13.3333 15.8327C12.875 15.8327 12.4826 15.6695 12.1563 15.3431C11.8299 15.0167 11.6667 14.6243 11.6667 14.166V5.83268C11.6667 5.37435 11.8299 4.98199 12.1563 4.6556C12.4826 4.32921 12.875 4.16602 13.3333 4.16602C13.7917 4.16602 14.184 4.32921 14.5104 4.6556C14.8368 4.98199 15 5.37435 15 5.83268V14.166C15 14.6243 14.8368 15.0167 14.5104 15.3431C14.184 15.6695 13.7917 15.8327 13.3333 15.8327ZM6.66667 15.8327C6.20833 15.8327 5.81597 15.6695 5.48958 15.3431C5.16319 15.0167 5 14.6243 5 14.166V5.83268C5 5.37435 5.16319 4.98199 5.48958 4.6556C5.81597 4.32921 6.20833 4.16602 6.66667 4.16602C7.125 4.16602 7.51736 4.32921 7.84375 4.6556C8.17014 4.98199 8.33333 5.37435 8.33333 5.83268V14.166C8.33333 14.6243 8.17014 15.0167 7.84375 15.3431C7.51736 15.6695 7.125 15.8327 6.66667 15.8327Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .visual .ctrl_wrap button.btn_play {
        display: none;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_507' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect x='20' y='20' width='20' height='20' transform='rotate(-180 20 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_507)'%3E%3Cpath d='M14.7285 9.29134C14.8535 9.37467 14.9473 9.47884 15.0098 9.60384C15.0723 9.72884 15.1035 9.86079 15.1035 9.99967C15.1035 10.1386 15.0723 10.2705 15.0098 10.3955C14.9473 10.5205 14.8535 10.6247 14.7285 10.708L7.93685 15.0205C7.8674 15.0622 7.79449 15.0934 7.7181 15.1143C7.64171 15.1351 7.56879 15.1455 7.49935 15.1455C7.27713 15.1455 7.08268 15.0656 6.91602 14.9059C6.74935 14.7462 6.66602 14.5483 6.66602 14.3122L6.66602 5.68717C6.66602 5.45106 6.74935 5.25315 6.91602 5.09342C7.08268 4.9337 7.27713 4.85384 7.49935 4.85384C7.56879 4.85384 7.64171 4.86426 7.7181 4.88509C7.79449 4.90592 7.86741 4.93717 7.93685 4.97884L14.7285 9.29134Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}
/* title의 공통스타일 */
section .tit {
    margin: 10.41em 0 2.94em 0; /* 177px /  17  50/17 */
}
section .tit strong {
    color: var(--point-color);
    font-weight: var(--bold-weight);
    display: inline-block; /* 아이콘, 사이즈가 글자만하게 떨어져야해서 inline-block*/
    padding: 0 0.70em 0 0; /* 12/17 아이콘 너비 여백*/
    position: relative;
}
section .tit strong::after {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    height: 0.88em; /* 15/17 */
    width: 0.88em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--tit-ico);
}
section .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 0 0;
}

@media screen and (max-width:768px) {
    section .tit {
        margin: 7.06em 0 1.87em 0; /* 113px/16  30/16 */
    }
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%;  /* li갯수4 와 100% 의 4분의 1 = 25%*/
    position: relative; /* txt정렬의 기준 */
    transition: 0.5s; /* 천천히 나타나는 애니메이션 */
}
.biz .list ul li .more {
    display: none; /* 모바일에서만 나옴 */
}
.biz .list ul li .photo {
    overflow: hidden; /* photo 있으면 국룰 */
    height: 41.18em; /* 700px/17 = */
    position: relative; /* before정렬의 기준 */
}
.biz .list ul li .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 40%; /* 적당한 비율 때려맞추기 */
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0));
}
.biz .list ul li .photo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 100%; /* 적당한 비율 때려맞추기 */
    background: rgba(0,0,0,0.3);
    opacity: 0;
    transition: 0.3s;
}
.biz .list ul li .photo img {
    /* 알아서 들어가랏*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li .txt {
    position: absolute; /* li 기준의 정렬 */
    left: 6.25%; /* 30(왼쪽여백)/480(사진너비)*100 =6.25% */
    bottom: 1.18em; /* 20/17 =1.18em */
    color: #fff;
    transition: 0.5s; /* 천천히 나타나는 애니메이션 */
    white-space: nowrap; /* 줄바꿈 금지 */
}
.biz .list ul li .txt h3 {
    font-size: 2.36rem; /* 40/17 = 2.36 */
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.25em 0 ; /* 위아래 여백 10/40(글자크기) = 0.58 */
}
.biz .list ul li .txt a {
    display: inline-block; /*글자의 너비만하게*/
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 0.11em 1.82em 0.11em 0.94em;
    position: relative; /*after 의 정렬의 기준 */
    opacity: 0;
    transition: 0.5s; /* 천천히 나타나는 애니메이션 */
}
.biz .list ul li .txt a::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.58em;
    width: 0.70em;
    height: 0.70em;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.16699 6.83366H1.00033C0.764214 6.83366 0.566298 6.7538 0.406576 6.59408C0.246853 6.43435 0.166992 6.23644 0.166992 6.00033C0.166992 5.76421 0.246853 5.5663 0.406576 5.40658C0.566298 5.24685 0.764214 5.16699 1.00033 5.16699H5.16699V1.00033C5.16699 0.764214 5.24685 0.566298 5.40658 0.406576C5.5663 0.246853 5.76421 0.166992 6.00033 0.166992C6.23644 0.166992 6.43435 0.246853 6.59408 0.406576C6.7538 0.566298 6.83366 0.764214 6.83366 1.00033V5.16699H11.0003C11.2364 5.16699 11.4344 5.24685 11.5941 5.40658C11.7538 5.5663 11.8337 5.76421 11.8337 6.00033C11.8337 6.23644 11.7538 6.43435 11.5941 6.59408C11.4344 6.7538 11.2364 6.83366 11.0003 6.83366H6.83366V11.0003C6.83366 11.2364 6.7538 11.4344 6.59408 11.5941C6.43435 11.7538 6.23644 11.8337 6.00033 11.8337C5.76421 11.8337 5.5663 11.7538 5.40658 11.5941C5.24685 11.4344 5.16699 11.2364 5.16699 11.0003V6.83366Z' fill='white'/%3E%3C/svg%3E%0A");
}


@media screen and (min-width:1025px) {
/**********마우스를 오버했을때*****************/
    .biz .list ul li:hover {
        width: 70%; /* 너비가 70% 커짐 */
    }
    .biz .list ul li:hover .txt {
        bottom: 3.88em ; /* 66px / 17 */
    }
    .biz .list ul li:hover .txt a {
        opacity: 1;
    }
    .biz .list ul:hover li:not(:hover) .photo::before {
    opacity: 0;
    }
    .biz .list ul:hover li:not(:hover) .photo::after {
        opacity: 1;
    }
}/*@media*/
@media screen and (max-width:1300px) {
    .biz .list ul li .txt h3 {
        font-size: 2.05rem; /* 35/17 = */
        margin: 0.28em 0 0 0; /* 위여백,  10/35(글자크기)  */
    }
}
@media screen and (max-width:1024px) {
        .biz .list ul {
            display: block;
        }
        .biz .list ul li {
            width: auto; 
        }
        .biz .list ul li + li { /* 두번째 li부터, 인접형태선택자 */
            margin-top: 1px; /* 이미지 여백 */
        }
        .biz .list ul li .more {
            display: block; /**/
            position: absolute; /* li를 기준으로 정렬 */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 101;
        }
        .biz .list ul li .photo {
            height: 11.25em; /* 180px/16 = */
        }
        .biz .list ul li .photo::before {
            height: 100%; /* 적당한 비율 때려맞추기 */
            background:  rgba(0,0,0,0.3);
        }
        .biz .list ul li .photo::after {
            display: none;
        }
        .biz .list ul li .txt {
            left: 5.55%; /* 20(왼쪽여백)/360(사진너비)*100 =5.55% */
            bottom: 1.25em; /* 20/16 =1.25em */
        }
        .biz .list ul li .txt h3 {
            font-size: 1.25rem; /* 20/16 = */
            margin: 0.5em 0 0 0; /* 위여백,  10/20(글자크기)  */
        }
        .biz .list ul li .txt a {
            display: none;
        }
}/*@media*/

.news .list { 
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px - 24px); /* 24px:오른쪽에 들어갈 여백 */
}

@media screen and (max-width:1300px) { /*1300=wrapper가 해지되는 사이즈 */
    .news .list { 
        left: 20px;
        width: calc(100% -40px); /* 40px: left사이즈 두배  */
    }
}/*@media*/

.news .list .swiper {
    overflow: visible; /* hidden 해제 */
}

/**** wrapper안에 들어갈때는 콘텐츠가 들어갈경우
.news .list 와 .news .list .swiper 값 주면 안됨 ****/


.news .list .swiper-slide {
    width: 23.76em; /* 404px/17 =23.76 , 이미지가 밖으로 뛰쳐나가면 너비줘야함 */
}
.news .list .swiper-slide a {
    display: block;
}
.news .list .swiper-slide a .date {
    display: block; /*span태그라 block 줘야함 */
    border-top: 1px solid var(--base-color); /* 윗선 */
    font-size: 2.35rem; /* 40/17 */
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    padding: 0.75em 0 0.37em 0;   /* 30px/40(글자크기) 0 15/40(글자크기) 0 */
    position: relative; /* before 정렬의 기준 */
}
.news .list .swiper-slide a .date::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 0;
    height: 4px;
    background-color: var(--point-color);
    transition: 1s;
}
.news .list .swiper-slide a:hover .date::before {
    width: 100%; 
}
.news .list .swiper-slide a h3 {
    font-size: 1.47rem; /* 25/17 */
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);

    /* 2줄 제한 - 줄단위를 제한할떄는 절때 padding를 주어선 안된다 */
    height: 2.4em ; /* 행간(1.2) * 줄수(2) = 단위는 em */
    overflow: hidden;

    /* 길어서 짤리면 뒤에 ... 추가 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*줄수*/
}
.news .list .swiper-slide a p {
    margin: 0.88em 0 0.88em 0 ; /* 15px/17 */
    /* 3줄 제한 */
    height: 4.5em ; /* 행간(1.5) * 줄수(3) = 단위는 em */
    overflow: hidden;

    /* 길어서 짤리면 뒤에 ... 추가 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /*줄수*/

    word-break: normal; /* 단어별 줄바꿈 해제 */
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 14.70em; /* 250px(이미지높이)/17 */
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list .swiper-slide a:hover .photo img  {
    transform: scale3d(1.2, 1.2, 1); 
}
.news .ctrl_wrap {
    margin: 1.76em 0 0 0;  /*30/17*/
}
.news .ctrl_wrap .wrapper {
    display: flex;
    justify-content: space-between;
}
.news .ctrl_wrap .group1 {
    position: relative; /*scrollbar 정렬의 기준 */
    width: calc(100% - 25.23em); /* 429/17 */
}
.news .ctrl_wrap .group1 .swiper-scrollbar {
    position: absolute;
    left: 0;
    bottom: 50%; /*위아래 가운데 */
    transform: translateY(50%);/*위아래 가운데 */
    width: 100%;
    background: #EDEDED;
}
.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag {
    height: 5px;
    background: rgba(0, 0, 0, .5);
}
.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag:hover {
    background: var(--point-color);
}
.news .ctrl_wrap .group2 {
    display: flex;
    align-items: center;
    gap: 0.29em; /*5px*/
}
.news .ctrl_wrap .group2 .count {
    color: #c4c4c4;
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0 10px 0 0;
}
.news .ctrl_wrap .group2 .count .swiper-pagination-current{
    color: #1d1d1d;
    font-weight: var(--bold-weight);
}
.news .ctrl_wrap .group2 .count .swiper-pagination-total {
    color: #555;
}
.news .ctrl_wrap .group2 .btn_prev, 
.news .ctrl_wrap .group2 .btn_next {
    display: block;
    width: 1.53em;
    height: 1.53em;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.35025 6.99869L7.25025 11.8987C7.41692 12.0654 7.49747 12.2626 7.49192 12.4904C7.48636 12.7181 7.40025 12.9154 7.23359 13.082C7.06692 13.2487 6.8697 13.332 6.64192 13.332C6.41414 13.332 6.21692 13.2487 6.05025 13.082L0.933588 7.94869C0.800255 7.81536 0.700255 7.66536 0.633589 7.49869C0.566922 7.33203 0.533589 7.16536 0.533589 6.99869C0.533589 6.83203 0.566922 6.66536 0.633589 6.49869C0.700255 6.33203 0.800255 6.18203 0.933589 6.04869L6.06692 0.915358C6.23359 0.748691 6.42803 0.668135 6.65025 0.67369C6.87248 0.679246 7.06692 0.765357 7.23359 0.932024C7.40025 1.09869 7.48359 1.29591 7.48359 1.52369C7.48359 1.75147 7.40025 1.94869 7.23359 2.11536L2.35025 6.99869Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
}
.news .ctrl_wrap .btn_next {
    transform: rotate(180deg);
}
.news .ctrl_wrap .group2 .more {
    display: block;
    height: 1.53em;
    line-height: 1.53em;
    padding: 0 1.82em 0 0.94em;
    border: 1px solid #c4c4c4;
    border-radius: 40px;
    position: relative; /* after 정렬의 기준 */
    margin: 0 0 0 10px;
}
.news .ctrl_wrap .group2 .more::after {
    content: "";
    position: absolute;
    right: 11px;
    top: 7px;
    height: 0.70em;
    width: 0.70em;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.1665 6.83366H0.999837C0.763726 6.83366 0.565809 6.7538 0.406087 6.59408C0.246365 6.43435 0.166504 6.23644 0.166504 6.00033C0.166504 5.76421 0.246365 5.5663 0.406087 5.40658C0.565809 5.24685 0.763726 5.16699 0.999837 5.16699H5.1665V1.00033C5.1665 0.764214 5.24637 0.566298 5.40609 0.406576C5.56581 0.246853 5.76373 0.166992 5.99984 0.166992C6.23595 0.166992 6.43387 0.246853 6.59359 0.406576C6.75331 0.566298 6.83317 0.764214 6.83317 1.00033V5.16699H10.9998C11.2359 5.16699 11.4339 5.24685 11.5936 5.40658C11.7533 5.5663 11.8332 5.76421 11.8332 6.00033C11.8332 6.23644 11.7533 6.43435 11.5936 6.59408C11.4339 6.7538 11.2359 6.83366 10.9998 6.83366H6.83317V11.0003C6.83317 11.2364 6.75331 11.4344 6.59359 11.5941C6.43387 11.7538 6.23595 11.8337 5.99984 11.8337C5.76373 11.8337 5.56581 11.7538 5.40609 11.5941C5.24637 11.4344 5.1665 11.2364 5.1665 11.0003V6.83366Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width:1024px) {
    .news .list .swiper-slide {
        width: 18em; /* 23em 과 16em의 중간사이즈  */
    }
}
@media screen and (max-width:768px) { /*모바일*/

    .news .list .swiper-slide {
        width: 16em; /* 208/16 , 이미지가 밖으로 뛰쳐나가면 너비줘야함 */
    }
    .news .list .swiper-slide a .date {
        font-size: 1.75rem; /* 28/16 */
        padding: 1.07em 0 0.35em 0;   /* 30px/28(글자크기) 0 10/28(글자크기) 0 */
    }
    .news .list .swiper-slide a h3 {
        font-size: 1.25rem; /* 20/16 */
    }
    .news .list .swiper-slide a p {
        margin: 0.62em 0 0.62em 0 ; /* 10px/16 */
    }
    .news .list .swiper-slide a .photo {
        overflow: hidden;
        height: 8.31em; /* 133px(이미지높이)/16 */
    }
    .news .ctrl_wrap {
        margin: 1.76em 0 0 0;  /*30/17*/
    }

    .news .ctrl_wrap .group1 {
        position: relative; /*scrollbar 정렬의 기준 */
        width: calc(100% - 8.25em); /* 132/16 */
    }
    .news .ctrl_wrap .group1 .swiper-scrollbar {
        position: absolute;
        left: 0;
        bottom: 50%; /*위아래 가운데 */
        transform: translateY(50%);/*위아래 가운데 */
        width: 100%;
        background: #EDEDED;
    }
    .news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag {
        height: 5px;
        background: rgba(0, 0, 0, .5);
    }
    .news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag:hover {
        background: var(--point-color);
    }
    .news .ctrl_wrap .group2 {
        display: flex;
        align-items: center;
        gap: 0.29em; /*5px*/
    }
    .news .ctrl_wrap .group2 .count {
        display: none;
    }
    .news .ctrl_wrap .group2 .btn_prev, 
    .news .ctrl_wrap .group2 .btn_next {
        display: none;
    }
    .news .ctrl_wrap .group2 .more {
        display: block;
        height: 1.53em;
        line-height: 1.53em;
        padding: 0 1.82em 0 0.94em;
        border: 1px solid #c4c4c4;
        border-radius: 40px;
        position: relative; /* after 정렬의 기준 */
        margin: 0 0 0 10px;
    }
    .news .ctrl_wrap .group2 .more::after {
        content: "";
        position: absolute;
        right: 11px;
        top: 7px;
        height: 0.70em;
        width: 0.70em;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.1665 6.83366H0.999837C0.763726 6.83366 0.565809 6.7538 0.406087 6.59408C0.246365 6.43435 0.166504 6.23644 0.166504 6.00033C0.166504 5.76421 0.246365 5.5663 0.406087 5.40658C0.565809 5.24685 0.763726 5.16699 0.999837 5.16699H5.1665V1.00033C5.1665 0.764214 5.24637 0.566298 5.40609 0.406576C5.56581 0.246853 5.76373 0.166992 5.99984 0.166992C6.23595 0.166992 6.43387 0.246853 6.59359 0.406576C6.75331 0.566298 6.83317 0.764214 6.83317 1.00033V5.16699H10.9998C11.2359 5.16699 11.4339 5.24685 11.5936 5.40658C11.7533 5.5663 11.8332 5.76421 11.8332 6.00033C11.8332 6.23644 11.7533 6.43435 11.5936 6.59408C11.4339 6.7538 11.2359 6.83366 10.9998 6.83366H6.83317V11.0003C6.83317 11.2364 6.75331 11.4344 6.59359 11.5941C6.43387 11.7538 6.23595 11.8337 5.99984 11.8337C5.76373 11.8337 5.56581 11.7538 5.40609 11.5941C5.24637 11.4344 5.1665 11.2364 5.1665 11.0003V6.83366Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

}/*@media*/

.service .list {
    background: url(../images/main/service01.jpg) no-repeat center center / cover ;
    color: #fff;
    text-align: center;
    height: 23.52em; /* 400/17 */
    display: flex; /* ul을 list의 높이에 위아래 가운데 정렬*/
    align-items: center;
    transition: 0.5s;
}
.service .list[data-bg="bg1"] {
    background-image: url(../images/main/service04.jpg);
}
.service .list[data-bg="bg2"] {
    background-image: url(../images/main/service02.jpg);
}
.service .list[data-bg="bg3"] {
    background-image: url(../images/main/service03.jpg);
}
.service .list ul {
    display: flex;
    width: 100%; /* list가 flex의 영향으로 넓이가 필요하다 */
    padding: 0 2.5%; /* 브라우저에서 눈으로 보고 괜찮은 사이즈 주기*/
}
.service .list ul li {
    width: 33.34%;
}
.service .list ul li a {
    display: block;
    margin: 0 6.71%; /*86/640*100 = 13.43%*/
    padding: 2.94em 0; /*50/17 */
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);
} 
.service .list ul li a h3 {
    font-size: 1.76rem; /* 30px/17 */
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 0.5em 0; /*15/30*/
}

.service .list ul li a .more {
    display: none; 
    margin: 0.58em 0 0 0;
    position: relative;
}
.service .list ul li a .more::after {
    content: "";
    position: absolute;
    right: -18px;
    top: 8px;
    height: 0.70em;
    width: 0.70em;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.16699 6.83366H1.00033C0.764214 6.83366 0.566298 6.7538 0.406576 6.59408C0.246853 6.43435 0.166992 6.23644 0.166992 6.00033C0.166992 5.76421 0.246853 5.5663 0.406576 5.40658C0.566298 5.24685 0.764214 5.16699 1.00033 5.16699H5.16699V1.00033C5.16699 0.764214 5.24685 0.566298 5.40658 0.406576C5.5663 0.246853 5.76421 0.166992 6.00033 0.166992C6.23644 0.166992 6.43435 0.246853 6.59408 0.406576C6.7538 0.566298 6.83366 0.764214 6.83366 1.00033V5.16699H11.0003C11.2364 5.16699 11.4344 5.24685 11.5941 5.40658C11.7538 5.5663 11.8337 5.76421 11.8337 6.00033C11.8337 6.23644 11.7538 6.43435 11.5941 6.59408C11.4344 6.7538 11.2364 6.83366 11.0003 6.83366H6.83366V11.0003C6.83366 11.2364 6.7538 11.4344 6.59408 11.5941C6.43435 11.7538 6.23644 11.8337 6.00033 11.8337C5.76421 11.8337 5.5663 11.7538 5.40658 11.5941C5.24685 11.4344 5.16699 11.2364 5.16699 11.0003V6.83366Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.service .list ul li a:hover .more { 
    display: inline-block;
    /* 오버할경우 .service .list ul li a .more가 block였는데 none으로 바꿔주기 */
}

@media screen and (max-width:1024px) {
        .service .list {
            height: auto; /* 400/17 */
            display: block; /* ul을 list의 높이에 위아래 가ㅁ운데 정렬*/
        }
        .service .list ul {
            display: block;
            width: auto; /* list가 flex의 영향으로 넓이가 필요하다 */
            padding: 0; /* 브라우저에서 눈으로 보고 괜찮은 사이즈 주기*/
        }
        .service .list ul li {
            width: auto;
            position: relative;
        }
        .service .list ul li + li::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            border: 1px solid rgba(255,255,255,0.2);
            transform: translateX(-50%);
            width: 11em;
            height: 0;
        }

        .service .list ul li a {
            display: block;
            margin: 0 6.71%; /*86/640*100 = 13.43%*/
            padding: 2.94em 0; /*50/17 */
            border: 0px;
            backdrop-filter: none;
            border-radius: 0px;
            box-shadow: none;
            min-width: 300px;
        } 
        .service .list ul li a h3 {
            font-size: 1.25rem; /* 20px/16 */
            margin: 0 0 0.45em 0; /*9/20*/
        }
        .service .list ul li a p {
            display: none;
        }
        .service .list ul li a .more {
            display: inline-block; 
            margin: 0;
            position: relative;
            border: 1px solid #fff;
            padding: 2px 22px 2px 10px;
            border-radius: 20px;
        }
        .service .list ul li a .more::after {
            content: "";
            position: absolute;
            right: 6px;
            top: 10px;
        }
        .service .list ul li a:hover .more { 
            display: inline-block;
            /* 오버할경우 .service .list ul li a .more가 block였는데 none으로 바꿔주기 */
        }
}/*@media*/

