/* html파일 에서는main.css만 호출
다른 필요한 css는 main.css가 부름 */
@import url(font.css);
body {
    font-family: 'Pretendard', sans-serif ;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    color: #1d1d1d;
    word-break: keep-all;
}
/*** START 태그의 기본 스타일 삭제(초기화) ***/
h1, h2, h3, h4, h5, h6 {
    font-size: inherit; /* inherit 브라우저가 주는 값 무시하라 내 속성만 받아라 */
    font-weight: inherit;
}
li {
    list-style: none; /* 앞에 동그라미 없애기 */
}
*{ /* *은 와일드카드, 모든 태그를 의미 */
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/*** end 태그의 기본 스타일 삭제 (초기화) ***/
.wrapper {
    width: 1260px; /* 포토샵 레이아웃 가이드 너비*/
    margin: 0 auto; /* 가운데 정렬 */
}
header{
    height: 84px ;
    /* header 는 대부분 디자인한 높이를 잡아주고 코딩함 
    header 에는 존재하는 것이 많아서 */
}
header .wrapper {
    display: flex;
    /* logo와 gnb를 좌우로 배치 */
    justify-content: space-between
}
header .logo{
    margin: 22px 0 0 0 ;
}
header .logo a img {
    width: 149px;
    /* 이미지는 넓이나 높이 둘중에 하나만 주면
    나머지는 비율레 맞게 조절
    -- 오히려 넖이/높이 모두 주면 찌그러짐 */
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    font-size: 30px;
    letter-spacing: -0.2px ;
    padding: 24px 32px 24px 32px ;
}

.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover ;
    /*background  한번에 정의                     반복     좌우  위아래  크키 */
    height: 732px ;
    color: #fff ; 
}
.visual h2 {
    font-size: 100px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.3px ;
    color: #fff;
    padding: 283px 0 26px 0 ;
}

.biz {
    margin: 137px 0 0 0 ;
    text-align: center ;
}

.biz .tit h2 {
    color: #004096 ;
    margin: 0 0 23px 0 ;
}
.biz .tit p {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.2px ;
}
.biz .list {
    margin: 45px 0 0 0 ;
}
.biz .list ul {
    display: flex ;
    justify-content: space-between
}
.biz .list ul li {
    width: 297px ;
}
.list .photo ul li a {
    display: block; /* a의 필수 값 */
    text-align: center ;
}
.biz .list ul li a h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.2px ;
    margin: 22px 0 26px 0 ;
}

.biz .list ul li a .more {
    border: 1px solid #ccc;
    display: block;
    padding: 13px 0 13px 0 ;
    margin: 35px 0 0 0 ;
}
.brand {
    background: url(../images/brand_bg.png) no-repeat center center / cover ;
    height: 735px ;
    margin: 144px 0 0 0 ;
    color: #fff;
}
.brand h2 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.2px ;
    padding: 310px 0 10px 0 ;
}
.brand .cnt {
    color: rgba(255 , 255 ,255, 0.8); /* 흰색(#FFF) rgb값 255 - opacity 80% */
    border-top: 1px solid rgba(255 , 255 ,255, 0.2);
    padding: 10px 0 0 0 ;
}
footer {
    margin:  200px 0 0 0;
}